@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic,400italic,600italic,700italic);

.wrap {
    position: relative;
}

.page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.headers h1, .headers .header-title {
    color: #f8f8f8;
    font-size: 28px;
    font-weight: 200;
    text-shadow: none;
}

.headers li, .page-footer li {
    margin: 0;
    color: #f8f8f8;
}

.navbar-nav li {
    vertical-align: middle;
}

.navbar-nav li.divider-vertical {
    vertical-align: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

[hidden], template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

b, strong {
    font-weight: bold
}

pre {
    white-space: pre-wrap
}

img {
    border: 0
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #5d6e73;
    background-color: transparent
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #49a8d5;
    text-decoration: none
}

a:hover, a:focus {
    color: #2780aa;
    text-decoration: underline
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eeeeee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

p {
    margin: 0 0 11px
}

.lead {
    margin-bottom: 22px;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.4
}

@media (min-width: 768px) {
    .lead {
        font-size: 22.5px
    }
}

small, .small {
    font-size: 85%
}

cite {
    font-style: normal
}

.page-header {
    padding-bottom: 10px;
    margin: 44px 0 22px;
    border-bottom: 1px solid #eeeeee
}

ul, ol {
    margin-top: 0;
    margin-bottom: 11px
}

ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0
}

.list-unstyled, .list-inline, .list-inline-divider, .list-vertical-divider, .list-vertical-divider-2, .page-footer .list-footer, .list-breadcrumb, .list-steps, .headers .nav-list, .page-footer .list-legal {
    padding-left: 0;
    list-style: none
}

.list-inline > li, .list-inline-divider > li, .list-vertical-divider > li, .list-vertical-divider-2 > li, .page-footer .list-footer > li, .list-breadcrumb > li, .list-steps > li, .headers .nav-list > li, .page-footer .list-legal > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

.list-inline > li:first-child, .list-inline-divider > li:first-child, .list-vertical-divider > li:first-child, .list-vertical-divider-2 > li:first-child, .page-footer .list-footer > li:first-child, .list-breadcrumb > li:first-child, .list-steps > li:first-child, .headers .nav-list > li:first-child, .page-footer .list-legal > li:first-child {
    padding-left: 0
}

dl {
    margin-bottom: 22px
}

dt, dd {
    line-height: 1.5
}

dt {
    font-weight: bold
}

dd {
    margin-left: 0
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:before, .container:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}


@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.navbar {
    position: relative;
    min-height: 75px;
    margin-bottom: 0;
    border: 1px solid transparent
}

.navbar:before, .navbar:after {
    content: " ";
    display: table
}

.navbar:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px
    }
}

.navbar-header:before, .navbar-header:after {
    content: " ";
    display: table
}

.navbar-header:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar-header {
        float: left
    }
}

.container > .navbar-header, .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-brand {
    float: left;
    padding: 12px 15px;
    font-size: 19px;
    line-height: 22px
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-btn {
    margin-top: 17.5px;
    margin-bottom: 17.5px
}

.navbar-text {
    float: left;
    margin-top: 26.5px;
    margin-bottom: 26.5px
}

@media (min-width: 768px) {
    .navbar-text {
        margin-left: 15px;
        margin-right: 15px
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777777
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777777
}

.navbar-default .navbar-nav > li > a {
    color: #777777
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333333;
    background-color: transparent
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #dddddd
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #dddddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #cccccc
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333333;
    border-bottom-color: #333333
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555555
}

.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555555;
    border-bottom-color: #555555
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777777;
    border-bottom-color: #777777
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777777
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #777777
}

.navbar-default .navbar-link:hover {
    color: #333333
}

.navbar-inverse {
    background-color: #34928a;
    border-color: transparent
}

.navbar-inverse .navbar-brand {
    color: #f8f8f8
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: white;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #f8f8f8
}

.navbar-inverse .navbar-nav > li > a {
    color: #72b5ad
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #f8f8f8;
    background-color: #34928a
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #72b5ad
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #02786e
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #f8f8f8
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #2b7871
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #34928a;
    color: #f8f8f8
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: white;
    border-bottom-color: white
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #72b5ad;
    border-bottom-color: #72b5ad
}

.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #f8f8f8;
    border-bottom-color: #f8f8f8
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #72b5ad
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f8f8f8;
        background-color: #34928a
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #72b5ad
}

.navbar-inverse .navbar-link:hover {
    color: white
}

@-ms-viewport {
    width: device-width
}

.container-main {
    padding-bottom: 30px
}

.bkg-default-5 {
    background-color: #f8f8f8
}

a:hover {
    text-decoration: none
}

.list-inline, .list-inline-divider, .list-vertical-divider, .list-vertical-divider-2, .page-footer .list-footer, .list-breadcrumb, .list-steps, .headers .nav-list, .page-footer .list-legal {
    font-size: 0
}

.list-inline > li, .list-inline-divider > li, .list-vertical-divider > li, .list-vertical-divider-2 > li, .page-footer .list-footer > li, .list-breadcrumb > li, .list-steps > li, .headers .nav-list > li, .page-footer .list-legal > li {
    font-size: 15px
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    background-color: white
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 15px
}

.page-wrapper {
}

.pan {
    padding: 0 !important
}

.man {
    margin: 0 !important
}

.pvn {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.mvn {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.phn {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.mhn {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.ptn {
    padding-top: 0 !important
}

.mtn {
    margin-top: 0 !important
}

.prn {
    padding-right: 0 !important
}

.mrn {
    margin-right: 0 !important
}

.pbn {
    padding-bottom: 0 !important
}

.mbn {
    margin-bottom: 0 !important
}

.pln {
    padding-left: 0 !important
}

.mln {
    margin-left: 0 !important
}

.pas {
    padding: 5px !important
}

.mas {
    margin: 5px !important
}

.pvs {
    padding-top: 5px !important;
    padding-bottom: 5px !important
}

.mvs {
    margin-top: 5px !important;
    margin-bottom: 5px !important
}

.phs {
    padding-left: 5px !important;
    padding-right: 5px !important
}

.mhs {
    margin-left: 5px !important;
    margin-right: 5px !important
}

.pts {
    padding-top: 5px !important
}

.mts {
    margin-top: 5px !important
}

.prs {
    padding-right: 5px !important
}

.mrs {
    margin-right: 5px !important
}

.pbs {
    padding-bottom: 5px !important
}

.mbs {
    margin-bottom: 5px !important
}

.pls {
    padding-left: 5px !important
}

.mls {
    margin-left: 5px !important
}

.pam {
    padding: 7px !important
}

.mam {
    margin: 7px !important
}

.pvm {
    padding-top: 7px !important;
    padding-bottom: 7px !important
}

.mvm {
    margin-top: 7px !important;
    margin-bottom: 7px !important
}

.phm {
    padding-left: 7px !important;
    padding-right: 7px !important
}

.mhm {
    margin-left: 7px !important;
    margin-right: 7px !important
}

.ptm {
    padding-top: 7px !important
}

.mtm {
    margin-top: 7px !important
}

.prm {
    padding-right: 7px !important
}

.mrm {
    margin-right: 7px !important
}

.pbm {
    padding-bottom: 7px !important
}

.mbm {
    margin-bottom: 7px !important
}

.plm {
    padding-left: 7px !important
}

.mlm {
    margin-left: 7px !important
}

.pal {
    padding: 10px !important
}

.mal {
    margin: 10px !important
}

.pvl {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}

.mvl {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.phl {
    padding-left: 10px !important;
    padding-right: 10px !important
}

.mhl {
    margin-left: 10px !important;
    margin-right: 10px !important
}

.ptl {
    padding-top: 10px !important
}

.mtl {
    margin-top: 10px !important
}

.prl {
    padding-right: 10px !important
}

.mrl {
    margin-right: 10px !important
}

.pbl {
    padding-bottom: 10px !important
}

.mbl {
    margin-bottom: 10px !important
}

.pll {
    padding-left: 10px !important
}

.mll {
    margin-left: 10px !important
}

.paxl {
    padding: 20px !important
}

.maxl {
    margin: 20px !important
}

.pvxl {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

.mvxl {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.phxl {
    padding-left: 20px !important;
    padding-right: 20px !important
}

.mhxl {
    margin-left: 20px !important;
    margin-right: 20px !important
}

.ptxl {
    padding-top: 20px !important
}

.mtxl {
    margin-top: 20px !important
}

.prxl {
    padding-right: 20px !important
}

.mrxl {
    margin-right: 20px !important
}

.pbxl {
    padding-bottom: 20px !important
}

.mbxl {
    margin-bottom: 20px !important
}

.plxl {
    padding-left: 20px !important
}

.mlxl {
    margin-left: 20px !important
}

.paxxl {
    padding: 40px !important
}

.maxxl {
    margin: 40px !important
}

.pvxxl {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.mvxxl {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}

.phxxl {
    padding-left: 40px !important;
    padding-right: 40px !important
}

.mhxxl {
    margin-left: 40px !important;
    margin-right: 40px !important
}

.ptxxl {
    padding-top: 40px !important
}

.mtxxl {
    margin-top: 40px !important
}

.prxxl {
    padding-right: 40px !important
}

.mrxxl {
    margin-right: 40px !important
}

.pbxxl {
    padding-bottom: 40px !important
}

.mbxxl {
    margin-bottom: 40px !important
}

.plxxl {
    padding-left: 40px !important
}

.mlxxl {
    margin-left: 40px !important
}

.paxxxl {
    padding: 120px !important
}

.maxxxl {
    margin: 120px !important
}

.pvxxxl {
    padding-top: 120px !important;
    padding-bottom: 120px !important
}

.mvxxxl {
    margin-top: 120px !important;
    margin-bottom: 120px !important
}

.phxxxl {
    padding-left: 120px !important;
    padding-right: 120px !important
}

.mhxxxl {
    margin-left: 120px !important;
    margin-right: 120px !important
}

.ptxxxl {
    padding-top: 120px !important
}

.mtxxxl {
    margin-top: 120px !important
}

.prxxxl {
    padding-right: 120px !important
}

.mrxxxl {
    margin-right: 120px !important
}

.pbxxxl {
    padding-bottom: 120px !important
}

.mbxxxl {
    margin-bottom: 120px !important
}

.plxxxl {
    padding-left: 120px !important
}

.mlxxxl {
    margin-left: 120px !important
}

.paxxxxl {
    padding: 140px !important
}

.maxxxxl {
    margin: 140px !important
}

.pvxxxxl {
    padding-top: 140px !important;
    padding-bottom: 140px !important
}

.mvxxxxl {
    margin-top: 140px !important;
    margin-bottom: 140px !important
}

.phxxxxl {
    padding-left: 140px !important;
    padding-right: 140px !important
}

.mhxxxxl {
    margin-left: 140px !important;
    margin-right: 140px !important
}

.ptxxxxl {
    padding-top: 140px !important
}

.mtxxxxl {
    margin-top: 140px !important
}

.prxxxxl {
    padding-right: 140px !important
}

.mrxxxxl {
    margin-right: 140px !important
}

.pbxxxxl {
    padding-bottom: 140px !important
}

.mbxxxxl {
    margin-bottom: 140px !important
}

.plxxxxl {
    padding-left: 140px !important
}

.mlxxxxl {
    margin-left: 140px !important
}

@media all and (max-width: 768px) {
    .pan {
        padding: 0 !important
    }

    .man {
        margin: 0 !important
    }

    .pvn {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .mvn {
        margin-top: 0 !important;
        margin-bottom: 0 !important
    }

    .phn {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .mhn {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .ptn {
        padding-top: 0 !important
    }

    .mtn {
        margin-top: 0 !important
    }

    .prn {
        padding-right: 0 !important
    }

    .mrn {
        margin-right: 0 !important
    }

    .pbn {
        padding-bottom: 0 !important
    }

    .mbn {
        margin-bottom: 0 !important
    }

    .pln {
        padding-left: 0 !important
    }

    .mln {
        margin-left: 0 !important
    }

    .pas {
        padding: 5px !important
    }

    .mas {
        margin: 5px !important
    }

    .pvs {
        padding-top: 5px !important;
        padding-bottom: 5px !important
    }

    .mvs {
        margin-top: 5px !important;
        margin-bottom: 5px !important
    }

    .phs {
        padding-left: 5px !important;
        padding-right: 5px !important
    }

    .mhs {
        margin-left: 5px !important;
        margin-right: 5px !important
    }

    .pts {
        padding-top: 5px !important
    }

    .mts {
        margin-top: 5px !important
    }

    .prs {
        padding-right: 5px !important
    }

    .mrs {
        margin-right: 5px !important
    }

    .pbs {
        padding-bottom: 5px !important
    }

    .mbs {
        margin-bottom: 5px !important
    }

    .pls {
        padding-left: 5px !important
    }

    .mls {
        margin-left: 5px !important
    }

    .pam {
        padding: 7px !important
    }

    .mam {
        margin: 7px !important
    }

    .pvm {
        padding-top: 7px !important;
        padding-bottom: 7px !important
    }

    .mvm {
        margin-top: 7px !important;
        margin-bottom: 7px !important
    }

    .phm {
        padding-left: 7px !important;
        padding-right: 7px !important
    }

    .mhm {
        margin-left: 7px !important;
        margin-right: 7px !important
    }

    .ptm {
        padding-top: 7px !important
    }

    .mtm {
        margin-top: 7px !important
    }

    .prm {
        padding-right: 7px !important
    }

    .mrm {
        margin-right: 7px !important
    }

    .pbm {
        padding-bottom: 7px !important
    }

    .mbm {
        margin-bottom: 7px !important
    }

    .plm {
        padding-left: 7px !important
    }

    .mlm {
        margin-left: 7px !important
    }

    .pal {
        padding: 10px !important
    }

    .mal {
        margin: 10px !important
    }

    .pvl {
        padding-top: 10px !important;
        padding-bottom: 10px !important
    }

    .mvl {
        margin-top: 10px !important;
        margin-bottom: 10px !important
    }

    .phl {
        padding-left: 10px !important;
        padding-right: 10px !important
    }

    .mhl {
        margin-left: 10px !important;
        margin-right: 10px !important
    }

    .ptl {
        padding-top: 10px !important
    }

    .mtl {
        margin-top: 10px !important
    }

    .prl {
        padding-right: 10px !important
    }

    .mrl {
        margin-right: 10px !important
    }

    .pbl {
        padding-bottom: 10px !important
    }

    .mbl {
        margin-bottom: 10px !important
    }

    .pll {
        padding-left: 10px !important
    }

    .mll {
        margin-left: 10px !important
    }

    .paxl {
        padding: 15px !important
    }

    .maxl {
        margin: 15px !important
    }

    .pvxl {
        padding-top: 15px !important;
        padding-bottom: 15px !important
    }

    .mvxl {
        margin-top: 15px !important;
        margin-bottom: 15px !important
    }

    .phxl {
        padding-left: 15px !important;
        padding-right: 15px !important
    }

    .mhxl {
        margin-left: 15px !important;
        margin-right: 15px !important
    }

    .ptxl {
        padding-top: 15px !important
    }

    .mtxl {
        margin-top: 15px !important
    }

    .prxl {
        padding-right: 15px !important
    }

    .mrxl {
        margin-right: 15px !important
    }

    .pbxl {
        padding-bottom: 15px !important
    }

    .mbxl {
        margin-bottom: 15px !important
    }

    .plxl {
        padding-left: 15px !important
    }

    .mlxl {
        margin-left: 15px !important
    }

    .paxxl {
        padding: 20px !important
    }

    .maxxl {
        margin: 20px !important
    }

    .pvxxl {
        padding-top: 20px !important;
        padding-bottom: 20px !important
    }

    .mvxxl {
        margin-top: 20px !important;
        margin-bottom: 20px !important
    }

    .phxxl {
        padding-left: 20px !important;
        padding-right: 20px !important
    }

    .mhxxl {
        margin-left: 20px !important;
        margin-right: 20px !important
    }

    .ptxxl {
        padding-top: 20px !important
    }

    .mtxxl {
        margin-top: 20px !important
    }

    .prxxl {
        padding-right: 20px !important
    }

    .mrxxl {
        margin-right: 20px !important
    }

    .pbxxl {
        padding-bottom: 20px !important
    }

    .mbxxl {
        margin-bottom: 20px !important
    }

    .plxxl {
        padding-left: 20px !important
    }

    .mlxxl {
        margin-left: 20px !important
    }

    .paxxxl {
        padding: 30px !important
    }

    .maxxxl {
        margin: 30px !important
    }

    .pvxxxl {
        padding-top: 30px !important;
        padding-bottom: 30px !important
    }

    .mvxxxl {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }

    .phxxxl {
        padding-left: 30px !important;
        padding-right: 30px !important
    }

    .mhxxxl {
        margin-left: 30px !important;
        margin-right: 30px !important
    }

    .ptxxxl {
        padding-top: 30px !important
    }

    .mtxxxl {
        margin-top: 30px !important
    }

    .prxxxl {
        padding-right: 30px !important
    }

    .mrxxxl {
        margin-right: 30px !important
    }

    .pbxxxl {
        padding-bottom: 30px !important
    }

    .mbxxxl {
        margin-bottom: 30px !important
    }

    .plxxxl {
        padding-left: 30px !important
    }

    .mlxxxl {
        margin-left: 30px !important
    }

    .paxxxxl {
        padding: 30px !important
    }

    .maxxxxl {
        margin: 30px !important
    }

    .pvxxxxl {
        padding-top: 30px !important;
        padding-bottom: 30px !important
    }

    .mvxxxxl {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }

    .phxxxxl {
        padding-left: 30px !important;
        padding-right: 30px !important
    }

    .mhxxxxl {
        margin-left: 30px !important;
        margin-right: 30px !important
    }

    .ptxxxxl {
        padding-top: 30px !important
    }

    .mtxxxxl {
        margin-top: 30px !important
    }

    .prxxxxl {
        padding-right: 30px !important
    }

    .mrxxxxl {
        margin-right: 30px !important
    }

    .pbxxxxl {
        padding-bottom: 30px !important
    }

    .mbxxxxl {
        margin-bottom: 30px !important
    }

    .plxxxxl {
        padding-left: 30px !important
    }

    .mlxxxxl {
        margin-left: 30px !important
    }
}

.headers {
    margin-bottom: 20px
}

.headers .nav-list-wrapper {
    background-color: #f8f8f8
}

.headers .nav-list {
    text-align: right;
    margin: 0
}

.headers .nav-list a {
    color: #72b5ad;
    padding: 5px 8px;
    display: inline-block
}

.headers .nav-list a:hover, .headers .nav-list a:active {
    color: #02786e
}

.headers .navbar-brand {
    font-size: 17px;
    font-weight: 200
}

.headers .navbar-brand .image-logo {
    width: 177px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(/images/logo-pws.png)
}


.headers .navbar-brand strong {
    display: block;
    margin-left: 2px;
    font-size: 18px;
    font-weight: 600
}

.headers .navbar-list-divider {
    font-size: 0;
}

.headers .navbar-list-divider > li {
    font-size: 15px;
    display: inline-block;
    border-left: 1px solid #72b5ad;
    min-height: 43px;
    padding-left: 18px;
    margin-left: 18px
}

.headers .navbar-list-divider > li:first-child {
    border: none;
    padding-left: 0;
    margin-left: 0
}

.headers .navbar-nav {
    margin-left: 0;
    margin-right: 0
}

.headers .navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 12px
}

.headers .dropdown-nav {
    margin-right: 10px;
    width: 250px
}

.headers .dropdown-nav .dropdown-toggle .org-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.headers .dropdown-nav .dropdown-toggle .user-email {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.headers .dropdown-nav .dropdown-toggle .caret {
    float: right
}

.headers .dropdown-nav.open .dropdown-toggle {
    background-color: #015952 !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.headers .dropdown-nav.open .dropdown-menu {
    width: auto !important;
    border-top: none;
    text-align: left;
    right: 2px;
    left: 2px;
    box-shadow: none;
    border-radius: 0
}

.headers .dropdown-nav.open .dropdown-menu li.divider {
    background-color: #015952;
    margin-left: 13px;
    margin-right: 13px
}

.headers .dropdown-nav.open .dropdown-menu li a {
    color: #34928a;
    padding-left: 13px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.headers .dropdown-nav.open .dropdown-menu li.item-organization a {
    color: #9faaad
}

.headers .dropdown-nav .dropdown-toggle {
    color: #f8f8f8 !important;
    text-align: left;
    font-size: 15px;
    padding: 5px 10px;
    margin: 6px 2px 0 2px;
    border-radius: 3px;
    background-color: #02786e !important
}

.headers .dropdown-nav .dropdown-toggle .caret {
    border-top-color: #72b5ad !important;
    border-bottom-color: #72b5ad !important;
    float: right;
    margin-top: 8px
}

.headers .navbar-main > li > a {
    text-transform: uppercase
}

.headers .navbar-main .active:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -27px;
    border-style: solid;
    border-width: 21px 28px 0 28px;
    border-color: #34928a transparent transparent transparent;
    -moz-transform: scale(0.9999)
}

.headers .dropdown-nav-secondary {
    width: auto
}

.headers .dropdown-nav-secondary a.dropdown-toggle {
    color: #f8f8f8 !important;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: transparent !important
}

.headers .dropdown-nav-secondary a.dropdown-toggle .fa-user {
    font-size: 18px;
    margin-right: 5px
}

.headers .dropdown-nav-secondary a.dropdown-toggle .caret {
    border-top-color: #f8f8f8 !important;
    border-bottom-color: #f8f8f8 !important
}

.headers .dropdown-nav-secondary a.dropdown-toggle .user-email {
    vertical-align: middle;
    padding-right: 7px
}

.headers .dropdown-nav-secondary.open a.dropdown-toggle {
    background-color: red
}

.headers .navbar-signin {
    color: #f8f8f8
}

.headers .navbar-signin a {
    display: inline-block;
    color: #f8f8f8
}

.headers .subnav {
    background-color: #ededed;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 20px 10px 20px
}

@media (min-width: 768px) {
    .headers .navbar-collapse.in {
        overflow-y: visible
    }
}

@media all and (max-width: 1200px) {
    .headers .dropdown-nav-secondary.open .dropdown-menu {
        left: auto
    }
}

@media all and (max-width: 1200px) and (min-width: 768px) {
    .headers .dropdown-nav-secondary a.dropdown-toggle {
        width: 47px
    }

    .headers .dropdown-nav-secondary a.dropdown-toggle .user-email {
        display: none
    }
}

@media all and (max-width: 992px) and (min-width: 768px) {
    .headers .dropdown-nav-secondary .dropdown-menu {
        left: -111px
    }
}

@media all and (max-width: 990px) {
    .headers .navbar-list-divider > li {
        padding-left: 8px;
        margin-left: 8px
    }

    .headers .dropdown-nav {
        width: 100px
    }

    .headers .dropdown-nav-secondary {
        width: auto
    }
}

@media all and (max-width: 766px) {
    .headers .navbar-list-divider {
        text-align: left
    }

    .headers .navbar-list-divider > li {
        border-left-width: 0;
        border-top: 1px solid #72b5ad;
        display: block;
        padding-left: 0;
        margin-left: 0
    }

    .headers .dropdown-nav {
        width: auto;
        margin: 11px 10px 12px 10px
    }

    .headers .dropdown-nav .dropdown-toggle .user-email {
        width: auto
    }

    .headers .dropdown-nav.open .dropdown-menu {
        background-color: #fff;
        margin-right: 2px;
        margin-left: 2px
    }

    .headers .dropdown-nav.open .dropdown-menu li a:focus, .headers .dropdown-nav.open .dropdown-menu li a:hover {
        color: #34928a
    }
}

@media (max-width: 768px) {
    .headers .container-subnav {
        padding: 0
    }

    .headers .container-subnav .subnav {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding: 10px
    }
}

.page-footer {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #02786e;
    color: #f8f8f8;
    font-weight: 200
}

.page-footer .logo {
    float: left
}

.page-footer .list-footer {
    float: right
}

.page-footer .list-footer > li + li {
    padding-left: 35px;
    margin-left: 35px;
    border-left-color: #72b5ad
}

.page-footer .list-footer li:first-child {
    padding-left: 0
}

.page-footer .list-footer > li {
    min-height: 25px;
    line-height: 25px
}

.page-footer .list-footer a {
    display: inline-block
}

.page-footer .list-legal {
    text-transform: uppercase
}

.page-footer .list-legal > li + li {
    padding-left: 15px
}

::-webkit-input-placeholder {
    font-weight: 200
}

:-moz-placeholder {
    font-weight: 200
}

::-moz-placeholder {
    font-weight: 200
}

:-ms-input-placeholder {
    font-weight: 200
}
