html, body {
	height: 100%;
  margin:0;
  padding:0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
	background-color: #9fbde3;
	-moz-text-shadow: 0 1px #fff;
	-webkit-text-shadow: 0 1px #fff;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

#bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-4;
}
a {
	color: #0099D6;
	text-decoration: none;
}
a:hover {
	color: #0099D6;
	text-decoration: underline;
}
p {
	margin: 0 0 20px;
	font-weight: 200;
}
h2 {
	margin: 0 0 9px;
	padding: 0 0 5px;
	font-weight: normal;
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
h3 {
	margin: 0 0 9px;
	font-weight: normal;
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
#content {
/*	padding-left: 10px;*/
	width: 1232px;
	margin: 0 auto;
	padding: 0 10px;
}
#content-container {
	width: 1252px;
	margin: 0 auto;
}
#content .container-top, #content .container-bottom {
  float:left;
  padding: 30px 15px;
  position: relative;
  width: 1200px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content .container-top {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
/*	padding-bottom: 20px;*/
}

#content .container-full {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: white;
	float:left;
  padding: 30px 15px;
  position: relative;
  width: 1200px;
	margin: 0 auto 50px;
	-moz-box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3.title-container {
    font-size: 38px;
    line-height: 46px;
    font-weight: 300;
    color: #3c3d42;
    margin-bottom: 20px;
    text-transform: none;
    padding: 0;
}


body#home .container-top,
body#run .container-top,
body#use .container-top,
body#getinvolved .container-top,
body#partners .container-top {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	height: 422px;
	background: #003a69;
}

body#home .container-top {
	background: url('/images/bg-polygon-home.png') no-repeat #003a69;
}

body#use .container-top {
	background:  #002A69;
	background-image: url(/images/bg-net.png);
	background-repeat: no-repeat;
	background: url(/images/bg-net.png) no-repeat, -moz-linear-gradient(right bottom, #0078D4 0%,#002A69 100%);
	background: url(/images/bg-net.png) no-repeat, -webkit-gradient(linear,right bottom, left top,color-stop(0, #0078D4),color-stop(1, #002A69));
	background: url(/images/bg-net.png) no-repeat, -webkit-linear-gradient(right bottom, #0078D4 0%, #002A69 100%);
	background: url(/images/bg-net.png) no-repeat, -o-linear-gradient(right bottom, #0078D4 0%, #002A69 100%);
	background: url(/images/bg-net.png) no-repeat, -ms-linear-gradient(right bottom, #0078D4 0%, #002A69 100%);
	background: url(/images/bg-net.png) no-repeat, linear-gradient(right bottom, #0078D4 0%, #002A69 100%);
}

body#run .container-top {
	background:  #002A69;
	background-image: url(/images/bg-billboard-run.png);
	background-repeat: no-repeat;
	background: url(/images/bg-billboard-run.png) no-repeat, -moz-linear-gradient(bottom, #0078D4 0%,#002A69 100%);
	background: url(/images/bg-billboard-run.png) no-repeat, -webkit-gradient(linear,bottom, top,color-stop(0, #0078D4),color-stop(1, #002A69));
	background: url(/images/bg-billboard-run.png) no-repeat, -webkit-linear-gradient(bottom, #0078D4 0%, #002A69 100%);
	background: url(/images/bg-billboard-run.png) no-repeat, -o-linear-gradient(bottom, #0078D4 0%, #002A69 100%);
	background: url(/images/bg-billboard-run.png) no-repeat, -ms-linear-gradient(bottom, #0078D4 0%, #002A69 100%);
	background: url(/images/bg-billboard-run.png) no-repeat, linear-gradient(bottom, #0078D4 0%, #002A69 100%);
}

body#getinvolved .container-top {
	background:  #002A69;
	background-image: url(/images/bg-conversation-bubbles.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background: url(/images/bg-conversation-bubbles.png) right bottom no-repeat, -moz-linear-gradient(bottom, #002A69 0%,#0078D4 100%);
	background: url(/images/bg-conversation-bubbles.png) right bottom no-repeat, -webkit-gradient(linear,bottom, top,color-stop(0, #002A69),color-stop(1, #0078D4));
	background: url(/images/bg-conversation-bubbles.png) right bottom no-repeat, -webkit-linear-gradient(bottom, #002A69 0%, #0078D4 100%);
	background: url(/images/bg-conversation-bubbles.png) right bottom no-repeat, -o-linear-gradient(bottom, #002A69 0%, #0078D4 100%);
	background: url(/images/bg-conversation-bubbles.png) right bottom no-repeat, -ms-linear-gradient(bottom, #002A69 0%, #0078D4 100%);
	background: url(/images/bg-conversation-bubbles.png) right bottom no-repeat, linear-gradient(bottom, #002A69 0%, #0078D4 100%);
}

body#partners .container-top {
	background: #f2f7fc;
}

body#home .container-bottom,
body#run .container-bottom,
body#use .container-bottom,
body#getinvolved .container-bottom,
body#partners .container-bottom {
  padding: 30px;
}

#content .container-bottom {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
  margin-bottom: 50px;
  padding: 0 40px 40px;
	width: 1170px;
}

.content_inner {
	padding: 45px 20px 20px 20px;
  float:left;
}

#non_footer {
	min-height: 100%;
  height:100%;
/*  padding-bottom:200px;*/
/*  position:relative;*/
}
.container_wide {
  margin: 0 auto;
	width: 1232px;
	padding: 0 10px;
}

/* Billboards */

#billboard-home-image, #billboard-use-image, #billboard-run-image {
  float:left;
  padding: 32px 0 0 0;
	margin: 0 auto;
	float: left;
}

#billboard-use-image {
	padding: 0;
	margin: -35px 0 0 25px;
}

#spring-glow,
#java-glow,
#play-glow,
#ruby-glow,
#rails-glow,
#node-glow,
#postgres-glow,
#rabbit-glow,
#redis-glow,
#mongo-glow,
#mysql-glow,
#public-glow,
#private-glow,
#oss-glow {
	display: none;
	border-radius: 20px;
	background: none scroll rgba(255,255,255,0.1);
}

#spring-glow {
	width: 82px;
	height: 50px;
	margin: -262px 0 0 52px;
}

#java-glow {
	width: 62px;
	height: 90px;
	margin: -300px 0 0 -9px;
}

#play-glow {
	width: 52px;
	height: 50px;
	margin: -207px 0 0 107px;
}

#ruby-glow {
	width: 98px;
	height: 37px;
	margin: -140px 0 0 35px;
}

#rails-glow {
	width: 44px;
	height: 66px;
	margin: -157px 0 0 150px;
}

#node-glow {
	width: 103px;
	height: 40px;
	margin: -92px 0 0 157px;
}

#postgres-glow {
	width: 132px;
	height: 43px;
	margin: -207px 0 0 460px;
}

#rabbit-glow {
	width: 134px;
	height: 37px;
	margin: -157px 0 0 443px;
}

#redis-glow {
	width: 96px;
	height: 31px;
	margin: -114px 0 0 408px;
}

#mongo-glow {
	width: 134px;
	height: 40px;
	margin: -84px 0 0 381px;
}

#mysql-glow {
	width: 94px;
	height: 56px;
	margin: -46px 0 0 321px;
}

#public-glow {
	width: 62px;
	height: 41px;
	margin: -340px 0 0 170px;
}

#private-glow {
	width: 72px;
	height: 41px;
	margin: -340px 0 0 251px;
}

#oss-glow {
	width: 72px;
	height: 41px;
	margin: -340px 0 0 338px;
}

#custom-service-glow {
	width: 150px;
	height: 40px;
	margin: -92px 0 0 260px;
}

#billboard-home {
	background:url(/images/billboard-bg-screens.png) no-repeat bottom;
	height: 396px;
	width: 1230px;
	margin-left: -15px;
}

#billboard-home-text, #billboard-use-text, #billboard-run-text {
	color: white;
	padding: 15px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	float: left;
	width: 500px;
	margin-right: 40px;
}

#billboard-home-text {
	float: none;
	text-align: center;
	margin: 0 auto;
	width: 580px;
	padding: 0;
}

#billboard-home-text p {
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
	margin: 0 auto;
	width: 400px;
}

#billboard-use-text p, #billboard-run-text {
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
}

#billboard-home-text h1 {
	font-size: 33px;
	text-transform: uppercase;
	line-height: 35px;
	font-weight: 500;
	margin: 20px 0 5px 0;
}

#billboard-home-text a, #billboard-use-text a, #billboard-run-text a {
	color: #333;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	padding: 20px 40px;
	padding: 27px;
}

#billboard-home-text a:hover, #billboard-use-text a:hover, #billboard-run-text a:hover {
/*	color: #0099d6;*/
	text-decoration: none
}

#billboard-home-image {
  float:left;
  padding: 32px 0 0 0;
	margin: 0 auto;
	float: left;
}

#billboard-use-text {
	width: 473px;
}

#billboard-run-text {
	width: 360px;
}

#billboard-use-text h1, #billboard-run-text h1 {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: 500;
}


#billboard-getinvolved-text {
	color: white;
	padding: 15px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	float: left;
	width: 655px;
	margin-right: 40px;
}

#billboard-getinvolved-text h1 {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: 500;
}

#billboard-getinvolved-text h2 {
	text-shadow: none;
	font-size: 26px;
}

#billboard-getinvolved-text p {
	font-weight: 200;
}

#billboard-getinvolved-contribute-button {
	float: left;
	padding: 180px 60px 0;
}

.bg-icon-calendar {
  background: url(/images/cf-icons.png) 0 -245px no-repeat;
  float: right;
  width: 70px;
	height: 45px;
	margin: 12px 5px 0 0;
}


/* Logo/CTA section */

.logo-main {
  margin: 35px auto;
	padding: 0 0 70px 0;
}

.logo {
  float:left;
}
.logo a:hover {
	text-decoration: none;
}
#pivotal-logo {
	margin-left:-5px;
}
.cta {
  float:right;
  margin: 5px 0 0 0;
}


/* Common */
.margin-left {
  margin-left: 40px;
}
.margin-right {
  margin-right: 20px;
}

.hr-thin {
	margin: 25px auto;
	height: 1px;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#222327), to(#222327), color-stop(50%, #323337));
	background-image: -moz-linear-gradient(#222327, #323337, #222327);
	width: 65%;
}

.hr-thin-light {
	margin: 45px auto 40px;
	height: 1px;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#a6c3ec), to(#a6c3ec), color-stop(50%, #c4cfd6));
	background-image: -moz-linear-gradient(#a6c3ec, #c4cfd6, #a6c3ec);
	width: 65%;
}

/* Footer */

#content-container-footer {
  margin: 0 auto;
	width: 1252px;
}

#container-footer {
  margin: 0 auto;
	width: 1232px;
	padding: 0 10px;
}

#container-footerth {
	padding: 0 30px;
}

#footer {
	position: relative;
	bottom:0;
  overflow:hidden;
/*  margin: 30px 0 0 0;*/
  width: 100%;
	border: 1px solid rgba(0,0,0,.75);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.09), inset 0 1px 0 rgba(255,255,255,.25);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.09), inset 0 1px 0 rgba(255,255,255,.25);
	box-shadow: 0 0 10px rgba(0,0,0,.09), inset 0 1px 0 rgba(255,255,255,.25);
	min-width: 1252px;
	width: 100%;
	background-image: -moz-linear-gradient(bottom, #000 -25%, #2e2f34 125%);
	background-image: -o-linear-gradient(bottom, #000 -25%, #2e2f34 125%);
	background-image: -webkit-linear-gradient(bottom, #000 -25%, #2e2f34 125%);
	background-image: linear-gradient(bottom, #000 -25%, #2e2f34 125%);
	background-color: #000;
}
#footer .bg_social {
  background: url('/images/bg_social_footer.png') no-repeat;
  height: 71px;
	margin: 0 auto;
	width: 900px;
}
#footer ul.social {
	overflow: hidden;
	list-style: none;
	width: 230px;
	margin: 0 auto;
	padding: 16px;
}
#footer ul.social li {
	padding: 0;
	margin: 0 10px;
	width: 37px;
	float: left
}
#footer ul.links {
	margin: 0 auto;
	padding: 9px 0 35px;
	overflow: hidden;
	text-align: center;
	list-style: disc;
	text-shadow: 0 1px 0 #000000;
	color: #000;
}
#footer ul.links {
  width: 900px;
}
#footer ul.links li {
	display: inline
}
#footer ul.links li a {
	text-transform: uppercase;
	margin-right: 10px;
	margin-left: 10px
}
#footer .footerth a {
  line-height: 16px;
  color: #7A7B7E;
  margin-right: 25px;
  text-transform: uppercase;
}
.copyright {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	text-align: center;
	list-style: disc;
	text-shadow: 0 1px 0 #000000;
	width:900px;
}


.footerth {
  margin: 0 30px 30px 0;
  float: left;
	width: 210px;
}

.footerth:last-child {
	margin-right: 0;
}

.footerth, .footerlist a {
  text-shadow: 0 1px 0 #000000;
}
#footer .footerlist a {
  line-height: 20px;
  color:#0096d6;
  padding-right: 20px;
	text-transform: none;
	font-size: 14px;
}
#footer .footerlist a:last-child {
  background:none;
}
#footer a {
	color: #0099D6;
	font-size: 12px;
	text-decoration: none
}
#footer a:hover {
	text-decoration: underline
}
#footer p {
	margin-top: 5px;
	font-size: 12px;
	text-align: center;
	color: #999999;
	text-shadow: 0 1px 0 #000000;
}

img {
	height: auto;
	vertical-align: middle;
	border: 0;
	max-width: 100%;
	-ms-interpolation-mode: bicubic
}
#map_canvas img {
	max-width: none

}
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle
}
button, input {
*overflow:visible;
	line-height: normal
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding:0;
  border:0
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
	height: 50px;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none
}
textarea {
	overflow: auto;
	vertical-align: top
}

small {
	font-size: 85%
}
strong {
	font-weight: bold
}
em {
	font-style: italic
}
cite {
	font-style: normal
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999999
}
h1 {
	font-size: 36px;
	line-height: 40px;
  font-weight: 300;
}
h2 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
}
h3 {
  font-size: 20px;
  /*line-height: 26px;*/
  line-height:32px;
  font-weight: normal;
}
h4 {
	font-size: 18px;
	line-height: 30px
}
h5 {
	font-size: 18px;
	line-height: 22px;
  font-weight: normal;
}
h6 {
	font-size: 12px;
	line-height: 20px
}
h1 small {
	font-size: 24px
}
h2 small {
	font-size: 18px
}
h3 small {
	font-size: 14px
}
h4 small {
	font-size: 14px
}
.page-header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee
}
ul, ol {
	padding: 0;
	margin: 0 0 10px 25px
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0
}
li {
	line-height: 24px;
	font-weight: 200;
}

ul.unstyled, ol.unstyled {
	margin-left: 0;
}
dl {
	margin-bottom: 20px
}
dt, dd {
	line-height: 20px
}
dt {
	font-weight: bold
}
dd {
	margin-left: 10px
}
.dl-horizontal dt {
	float: left;
	width: 120px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap
}
.dl-horizontal dd {
	margin-left: 130px
}
hr {
/*	margin: 20px 0;*/
	border: 0;
  border-top: 1px solid #B9CFDD;
  border-bottom: 1px solid #EEE;
/*  display: inline-block; */
}
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #999999
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase
}
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee
}
blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px
}
blockquote small {
	display: block;
	line-height: 20px;
	color: #999999
}
blockquote small:before {
	content: '\2014 \00A0'
}
blockquote.pull-right {
	float: right;
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eeeeee;
	border-left: 0
}
blockquote.pull-right p, blockquote.pull-right small {
	text-align: right
}
blockquote.pull-right small:before {
	content: ''
}
blockquote.pull-right small:after {
	content: '\00A0 \2014'
}
q:before, q:after, blockquote:before, blockquote:after {
	content: ""
}
address {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 20px
}
code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
pre.prettyprint {
	margin-bottom: 20px
}
pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll
}
form {
	margin: 0 0 20px
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}
legend small {
	font-size: 15px;
	color: #999999
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px
}
input, button, select, textarea {
	font-family: Helvetica, Arial, sans-serif
}
label {
	display: block;
	margin-bottom: 5px
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
input, textarea {
	width: 210px
}


::-webkit-input-placeholder {
  font-style: italic;
  color:#5e6468;
}
:-moz-placeholder {
  font-style: italic;
  color:#5e6468;
}
textarea {
	height: auto
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6)
}
input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
*margin-top:0;
	line-height: normal;
	cursor: pointer
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
	width: auto
}
select, input[type="file"] {
	height: 30px;
*margin-top:4px;
	line-height: 30px
}
select {
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #bbb
}
select[multiple], select[size] {
	height: auto
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn {
	display: inline-block;
*display:inline;
	padding: 4px 14px;
	margin-bottom: 0;
*margin-left:.3em;
	font-size: 14px;
	line-height: 20px;
*line-height:20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
*background-color:#e6e6e6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
*border:0;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter:progid:dximagetransform.microsoft.gradient(enabled=false);
*zoom:1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
*background-color:#d9d9d9
}
.btn:active, .btn.active {
	background-color: #cccccc \9
}
.btn:first-child {
*margin-left:0
}
.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
*background-color:#d9d9d9;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn.active, .btn:active {
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05)
}
.btn.disabled, .btn[disabled] {
	cursor: default;
	background-color: #e6e6e6;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.btn {
	border-color: #c5c5c5;
	border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25)
}

.pull-right {
	float: right
}
.pull-left {
	float: left
}

.btn {
	text-decoration: none
}
.btn-red, .btn-red:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
}
.btn-red.active {
	color: rgba(255,255,255,0.75)
}
.btn-red {
	padding: 6px 25px;
	text-transform: uppercase;
	background-color: #a9370a;
	*background-color:#fa5f22;
	background-image: -ms-linear-gradient(top, #a9370a, #fa5f22);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9370a), to(#fa5f22));
	background-image: -webkit-linear-gradient(top, #a9370a, #fa5f22);
	background-image: -o-linear-gradient(top, #a9370a, #fa5f22);
	background-image: -moz-linear-gradient(top, #a9370a, #fa5f22);
	background-image: linear-gradient(top, #a9370a, #fa5f22);
	background-repeat: repeat-x;
	border-top: 1px solid #b55c39;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #813516;
	box-shadow: 0 1px #7a838a;
	-moz-box-shadow: 0 1px #7a838a;
	-webkit-box-shadow: 0 1px #7a838a;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#a9370a', endColorstr='#fa5f22', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.btn-red a {
	color: white;
}
.btn-red a:hover {
	text-decoration: none;
}
.btn-red:hover, .btn-red:active, .btn-red.active {
	padding: 6px 25px;
	text-transform: uppercase;
	background-color: #fa5f22;
	*background-color:#a9370a;
	background-image: -ms-linear-gradient(top, #fa5f22, #a9370a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa5f22), to(#a9370a));
	background-image: -webkit-linear-gradient(top, #fa5f22, #a9370a);
	background-image: -o-linear-gradient(top, #fa5f22, #a9370a);
	background-image: -moz-linear-gradient(top, #fa5f22, #a9370a);
	background-image: linear-gradient(top, #fa5f22, #a9370a);
	background-repeat: repeat-x;
	border: none;
	border-top: 1px solid #b55c39;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #813516;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 1px #7a838a;
	-moz-box-shadow: 0 1px #7a838a;
	-webkit-box-shadow: 0 1px #7a838a;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fa5f22', endColorstr='#a9370a', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-red:active, .btn-red.active {
	background-color: #8A2B00
}
.btn-red.disabled, .btn-red[disabled] {
	background-color: #dc4500;
	color: white;
	-moz-text-shadow: 0 -1px #666;
	-webkit-text-shadow: 0 -1px #666;
	text-shadow: 0 -1px #666
}


/* Nav */

/* Navigation */


#search-on {
	display: none;
}

.icon-search, .icon-search2 {
	width:23px;
	height: 24px;
	display: block;
	background: url('/images/cf-icons.png') no-repeat;
	background-position: 0 -60px;
	margin: 0 0 0 0;
}


#organization_bar .navbar .nav>li a#search, #organization_bar .navbar .nav>li a#search2 {
	padding: 16px 20px 15px;
	cursor: pointer;
}

#organization_bar .navbar .nav>li a#search2:hover {
	background: none;
}

#organization_bar .navbar .nav>li a#search2 form {
	margin: 0 0 -10px 0;
}

#icon-docs {
	width:23px;
	height: 26px;
	display: block;
	background: url('/images/cf-icons.png') no-repeat;
	background-position: 0 0;
	margin: 0 0 1px 0;
}

#icon-docs:hover {
/*	background-position: 0 -30px;*/
}


#organization_bar .navbar .nav>li a#docs {
	padding: 14px 20px;
	cursor: pointer;
}

#organization_bar .navbar .nav>li#docs-off:hover {
/*	background: #21303c;*/
}

#organization_bar .navbar .nav>li#docs-off:hover a {
/*	background-position: 0 -30px;
	background-repeat: no-repeat;*/
}


#organization_bar .navbar .nav>li>a#docs:hover {
/*	background: #21303c;*/
}

#organization_bar .navbar .nav>li#docs-off {
  width: 60px;
  height: 56px;
  position: relative;
  display: block;
  float: left;
}

#organization_bar .navbar .nav>li#docs-off:hover #docs-list {
/*	visibility: visible;
	opacity: 1;*/
}

#docs-list {
	width: 1065px;
	height: 300px;
	background: #21303c;
	margin: 0 auto;
	padding: 25px 30px 50px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
/*	visibility: hidden;*/
	margin-left: -1015px;
/*	opacity:0;*/
/*	transition:opacity 0s 0.5s ease-in-out;
	-moz-transition:opacity 0s 0.5s ease-in-out;
	-webkit-transition:opacity 0s 0.5s ease-in-out;
	-o-transition:opacity 0s 0.5s ease-in-out;*/
	display: none;
}

#organization_bar .navbar .nav>li#docs-off .docs-list-list {
	float: left;
	width: 280px;
	text-align: left;
	line-height: 20px;
	padding: 0 30px;
}

.hr-vertical {
	background: url(/images/hr-vertical.png) right no-repeat;
	width: 4px;
	height: 239px;
	float: left;
}

.hr-horizontal-dark {
	height: 1px;
	width: 836px;
	background: url(/images/hr-horizontal-dark.png) no-repeat;
}

.hr-horizontal-light {
	height: 2px;
	width: 1105px;
	background: url(/images/hr-horizontal-light.png) no-repeat;
}

#organization_bar .navbar .nav>li#docs-off .docs-list-list:last-child {
	background: none;
}

#organization_bar .navbar .nav>li#docs-off .docs-list-list a {
	text-transform: none;
	color: #0099d6;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	padding: 0;
	margin: 0;
	line-height: 30px;
}

#organization_bar .navbar .nav>li#docs-off .docs-list-list a:hover {
	text-decoration: underline;
}

#organization_bar .navbar .nav>li#docs-off .docs-list-list a.docs-list-th {
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
}

#organization_bar .navbar .nav>li#docs-off .docs-list-list ul li {
	float: none;
	margin-left: 20px;
}

#organization_bar .navbar .nav>li#docs-off .docs-list-list a.docs-list-see-all {
	text-transform: uppercase;
	color: #0099d6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	font-weight: bold;
}

.search-form .search-input {
  background: url(/images/ico-search.png) 10px 9px white no-repeat;
  font-size:16px;
  color:#333;
  text-shadow:none;
  width: 300px;
	margin-top: -3px;
	height: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-left: 50px;
}

.cancel-x {
  background: url(/images/ico-cancel-x.png) no-repeat;
	width: 11px;
	height: 13px;
	position: absolute;
	left: 350px;
	top: 21px;
}

.nav {
	margin: 0;
	list-style: none
}
.nav>li>a {
	display: block
}
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eeeeee
}
.navbar .nav {
  width: 1160px;
  height: 56px;
}
.navbar .nav>li {
	float: left;
  position:relative;
  font-weight: normal;
}
.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #555555;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
  display:block;
}

.nav ul{
	background:#fff;
	background:rgba(255,255,255,0);
	list-style:none;
	position:absolute;
	left:-9999px;
}
.nav ul li{
	padding-top:1px;
	float:left;
  width: 50px;
}
.nav ul li a {
  text-transform: capitalize;
}
.nav ul a{
	white-space:nowrap;
}
.nav li:hover ul{
	left:0;
}
.nav li:hover a{
	background:none;
	text-decoration:underline;
}
.nav li:hover ul a{
	text-decoration:none;
}

#organization_bar {
	position: relative;
}
#organization_bar .navbar {
	width: 1160px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: -moz-linear-gradient(bottom, #dde2eb 0%, #ebf0fa 100%);
	background-image: -o-linear-gradient(bottom, #dde2eb 0%, #ebf0fa 100%);
	background-image: -webkit-linear-gradient(bottom, #dde2eb 0%, #ebf0fa 100%);
	background-image: linear-gradient(bottom, #dde2eb 0%, #ebf0fa 100%);
  box-shadow: 0 0 10px 0 rgba(80, 80, 80, .2);
  -webkit-box-shadow: 0 0 10px 0 rgba(80, 80, 80, .2);
	-moz-box-shadow: 0 0 10px 0 rgba(80, 80, 80, .2);
  background-color: #e3e8f2;
  margin: 0 auto;
}
#organization_bar .navbar .nav>li {
	background: url('/images/Pipe_NavBar.png') 0 10px no-repeat;
	text-align: center;
	padding: 0;
}
#organization_bar .navbar .nav>li a {
	margin: 0;
	padding: 11px 63px 8px;
	-moz-text-shadow: 0 1px #fff;
	-webkit-text-shadow: 0 1px #fff;
	text-shadow: 0 1px #fff;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 36px;
}

#organization_bar .navbar .nav>li a#getinvolved {
	padding: 11px 92px 8px;
}

#organization_bar .navbar .nav>li.current>a,
#organization_bar .navbar .nav>li>a:hover,
body#getinvolved a#getinvolved,
body#contribute a#contribute,
body#run a#run,
body#use a#use {
	background: #a9d9f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9d9f3 0%, #f9f9fa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9d9f3), color-stop(100%,#f9f9fa));
  background: -webkit-linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
  background: -o-linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
  background: -ms-linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
  background: linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9d9f3', endColorstr='#f9f9fa',GradientType=0 ); /* IE6-9 */
	margin: 0;
	padding: 11px 63px 8px;
	-moz-text-shadow: 0 1px #fff;
	-webkit-text-shadow: 0 1px #fff;
	text-shadow: 0 1px #fff;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 36px;
}

#organization_bar .navbar .nav>li:first-child a:hover, body#use a#use {
	border-radius: 5px 0 0 5px;
}

#organization_bar .navbar .nav>li:first-child {
	background: none
}



/* Header */

#header {
	border-bottom: 1px solid rgba(255,255,255,.5);
	/*-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;*/
	-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
	background-image: -moz-linear-gradient(center bottom , #1f2a3e 10%, #1F4874 100%);
	background-image: -o-linear-gradient(bottom, #1f2a3e 0%, #1F4874 100%);
	background-image: -webkit-linear-gradient(bottom, #1f2a3e 0%, #1F4874 100%);
	background-image: linear-gradient(bottom, #1f2a3e 0%, #1F4874 100%);
	height: 38px;
	margin: 0;
	text-shadow: none;
	background-color: #1F4874;
	min-width: 1252px;
	width: 100%;
}

#header .actions {
	float: right;
	list-style-type: none
}
#header .actions li {
	float: right;
	padding: 0 17px;
	background: url(/images/Pipe_gBar.png) center right no-repeat
}
#header .actions li.last {
	background: none;
	padding-right: 0
}
#header .actions>li>a {
	font-size: 11px;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	font-weight: 200;
}
#header .actions>li>a:hover {
	text-decoration: underline
}

#header .organizations {
	float: left;
	overflow: visible;
	height: 30px;
	margin: 5px 0 0 0;
}

.better_dropdown {
	list-style: none;
	display: block;
	overflow: hidden;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background: #21303c;
	float: right;
	width: 226px;
	height: 28px;
	margin: 0 23px 0 0;
}
.better_dropdown li {
	position: relative;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom:#000000;
	line-height:22px;
}
.better_dropdown li.last {
	background: #333
}
.better_dropdown li.last a {
	border-color: #aaa
}
.better_dropdown li:first-child {
	border-top: none
}
.better_dropdown li.empty {
	padding-left: 10px;
	color: #999;
	font-weight: normal
}
.better_dropdown li a {
	display: block;
	text-decoration: none;
	padding: 3px 10px;
	font-size: 11px
}




/* Common */

.column-left-half, .column-right-half {
  float:left;
  margin-top:20px;
  width: 440px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 270px;
	padding: 15px;
}

.column-left-half {
	margin-right: 20px;
}

.padded-content {
  padding: 0 30px 20px;
  width: 225px;
  min-height: 350px;
}

.column-title {
  -moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
  height: 54px;
  margin: -10px 0 15px 0;
  padding: 5px 3px 3px 0;
  background-color: #EEEEEE;
  border-bottom: 1px solid #ccc;
}

.column-title h3, .column-title h4, .column-left p, .column-middle p, .column-right p {
	padding: 0 30px;
}

.column-left, .column-middle, .column-right {
  float:left;
  margin: 20px 20px 20px 0;
  width: 376px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.column-right {
  margin: 20px 0;
}

.left {
  width:65%;
  margin: 0 20px 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  overflow:hidden;
}

.right {
  float:right;
  width:25%;
  padding:25px 40px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.button-more {
  display: inline-block;
  background-color: white;
  padding: 0 10px;
  color: #505050;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#DDD));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0 );
  border: 1px solid #B8B8B8;
  text-shadow: 0 1px 0 white;
}

.button-more a {
  text-decoration:none;
  font-size:11px;
  text-transform:uppercase;
  font-weight: bold;
  color: #333;
  line-height: 11px;
}

.button-more a:hover {
  text-decoration:none;
  color: #0099D6;
}


/* Homepage */

#feed {
	margin: 0 auto;
	width: 1160px;
	float: left;
}
.announcement {
	float:left;
	width:386px;
/*	border-top: 1px solid #fafcfe;
	padding: 10px 0;*/
}

.announcement .copy, .announcement .meta, .announcement .blog-more-link {
	display: none;
}
.announcement a {
	color:#333;
	font-size: 18px;
}
.announcement h5 {
	padding: 10px 0;
}

.announcement:first-child {
	width: 665px;
	padding: 0 104px 0 0;
	border: none;
}
.announcement:first-child .copy, .announcement:first-child .meta, .announcement:first-child .blog-more-link {
	display: block;
}

.announcement:first-child hr {
	display: none;
}

.announcement:first-child h5 {
	padding: 0;
}

.announcement:first-child h5 a {
	color: #535658;
	font-size: 36px;
	line-height: 40px;
}

.announcement:nth-child(4) {
/*	border-bottom: 1px solid #fafcfe;*/
	margin-bottom: 20px;
}

.announcement:nth-child(odd) hr {
	display: none;
}

.meta {
  text-transform: uppercase;
  font-size: 12px;
}

.arrow-right {
	width: 0px;
	height: 0px;
	border-bottom: 16px solid transparent;
	border-top: 16px solid transparent;
	border-left: 16px solid rgba(0,0,0,0.2);
	font-size: 0px;
	line-height: 0px;
	float: left;
}

.announcement-banner {
	float: left;
	background: none scroll rgba(0,0,0,0.2);
	height: 26px;
	margin: 0 0 20px -30px;
	padding: 6px 45px 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.announcement-banner a {
	color: #333;
}




/* Partners */

#billboard-partners-text {
	padding: 15px;
	float: left;
	width: 500px;
	margin-right: 60px;
	font-size: 18px;
}

#billboard-partners-text h1 {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: 600;
}

#billboard-partners-text a {
	color: #333;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	padding: 20px 40px;
	padding: 27px;
}

#billboard-partners-text a:hover {
	text-decoration: none;
/*	color: #0099D6;*/
}

#billboard-partners-image {
	margin: 20px;
}

.partners-section {
	width: 100%;
	height: 600px;
	background: #e9f3fa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 60px;
	margin-top: 15px;
}

.partners-section-column {
	width: 388px;
	float: left;
	border-right: 1px solid #c2cdd4;
	border-left: 1px solid #fff;
	height: 600px;
}

.partners-section-column h3 {
	text-transform: uppercase;
	font-size: 24px;
	padding:	0 37px;
}

.partners-section-column p {
	padding:	0 37px;
}

.partners-section-column:last-child {
	border-right: none;
	width: 390px;
}

.partners-section-column:first-child {
	border-left: none;
}

.partners-blue-box {
	background: #b4e2f5;
	height: 150px;
	margin-bottom: 40px;
}

.integrate {
	background-image: url(/images/cf-icons.png);
	background-position:  0 -1596px;
	background-repeat: no-repeat;
	height: 152px;
	margin: 0 45px;
}

.provide {
	background-image: url(/images/cf-icons.png);
	background-position:  0 -1767px;
	background-repeat: no-repeat;
	height: 152px;
	margin: 0 40px;
}

.build {
	background-image: url(/images/cf-icons.png);
	background-position:  0 -1935px;
	background-repeat: no-repeat;
	height: 152px;
	margin: 0 45px;
}

.partners-get-started-link {
	margin: 0 190px 0 0;
	padding:	0 37px;
}

.partners-get-started-link a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	float: left;
}

.contribute-box-partners {
	width: 100%;
	height: 130px;
	margin-bottom: 60px;
}

.contribute-box-partners-text {
	width: 731px;
	margin-right: 129px;
	float: left;
}

.contribute-box-partners-text h2 {
	font-size: 28px;
}

.contribute-box-partners-image {
	padding-top: 55px;
}

.button-plain {
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  color: #505050;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#DDD));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0 );
  border: 1px solid #B8B8B8;
  text-shadow: 0 1px 0 white;
  text-decoration:none;
  margin-left:0;
}

.logo-promo-wrap {
  float:left;
  width: 115px;
  padding: 10px 20px 20px 10px;
}

.logo-promo {
  height: 115px;
  width: 115px;
  background: #CCC;
  border: 1px solid #C2C2C2;
  background: white;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#DDD));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0 );
}

.vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#subject {
	display: none;
}

/* Run */
.bg-icon-micro-run {
	background: url(/images/cf-icons.png) 0 -1048px no-repeat;
	float: right;
	width: 112px;
	height: 121px;
	margin: 20px -4px;
	position: absolute;
	left: 1091px;
}

.bg-icon-mailinglist-run {
	background: url(/images/cf-icons.png) 0 -692px no-repeat;
	float: right;
	width: 107px;
	height: 118px;
	margin: 15px -4px;
	position: absolute;
	left: 304px;
}

.bg-icon-contribute-run {
	background: url(/images/cf-icons.png) 0 -815px no-repeat;
	float: right;
	width: 111px;
	height: 117px;
	margin: 16px -4px;
	position: absolute;
	left: 696px;
}

/* Use */
.bg-icon-micro-use {
	background: url(/images/cf-icons.png) 0 -1454px no-repeat;
	float: right;
	width: 112px;
	height: 121px;
	margin: 20px -4px;
	position: absolute;
	left: 695px;
}

.bg-icon-mailinglist-use {
	background: url(/images/cf-icons.png) 0 -692px no-repeat;
	float: right;
	width: 107px;
	height: 118px;
	margin: 15px -4px;
	position: absolute;
	left: 304px;
}

.bg-icon-contribute-use {
	background: url(/images/cf-icons.png) 0 -815px no-repeat;
	float: right;
	width: 111px;
	height: 117px;
	margin: 16px -4px;
	position: absolute;
	left: 1092px;
}

.bg-icon-contact {
	background: url(/images/cf-icons.png) 0 -938px no-repeat;
	float: right;
	width: 114px;
	height: 104px;
	margin: 28px -4px;
}


/* Get Involved */
.bg-icon-pullrequest {
	background: url(/images/cf-icons.png) 0 -295px no-repeat;
	float: right;
	width: 123px;
	height: 123px;
	margin: 3px -4px;
}

.bg-icon-monitor {
	background: url(/images/cf-icons.png) 0 -420px no-repeat;
	float: right;
	width: 107px;
	height: 136px;
	margin: 33px -5px;
}

.bg-icon-report {
	background: url(/images/cf-icons.png) 0 -566px no-repeat;
	float: right;
	width: 125px;
	height: 123px;
	margin: 23px -5px;
}

.bg-icon-partners {
	background: url(/images/cf-icons.png) 0 -1177px no-repeat;
	float: right;
	width: 114px;
	height: 127px;
	margin: 23px -5px;
}

.mailing-lists, .social-networks {
	float:left;
	width:360px;
}

.left-getinvolved {
  width:740px;
  margin: 0 20px 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  overflow:hidden;
}

.right-getinvolved {
  float:right;
  width:310px;
  padding:25px 40px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.twitter-getinvolved, .gplus-getinvolved, .fb-getinvolved, .so-getinvolved {
	background: url(/images/cf-icons.png) 0 -125px no-repeat;
	height: 27px;
	width: 27px;
	width: 27px;
	float: left;
	margin-top: 7px;
}

.gplus-getinvolved {
	background: url(/images/cf-icons.png) 0 -155px no-repeat;
}

.fb-getinvolved {
	background: url(/images/cf-icons.png) 0 -186px no-repeat;
}

.so-getinvolved {
	background: url(/images/cf-icons.png) 0 -216px no-repeat;
}

.event-date-title {
	float:left;
	width: 270px;
}

.event-attend-button {
	padding: 16px 30px 0 30px;
}

.event-date {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: bold;
}

.event-more-link {
	margin-top: -20px;
}

.event-more-link a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	float: left;
	color: #0099D6;
	padding-bottom: 20px;
}

.become-a-partner-link a {
	text-transform: uppercase;
	font-size: 12px;
	float: left;
	color: white;
	padding-bottom: 20px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	font-weight: 400;
}

.white-right-arrow {
	background: url('/images/cf-icons.png') 0px -1431px no-repeat;
	width: 15px;
	height: 15px;
	float: left;
	margin: 5px 0 0 7px;
}

.width-310 {
	width: 310px;
}

.height-190 {
	height:190px;
}


/* Gallery */
.span-5 ul.links li {
  display: inline;
}

.gallery-image {
  padding: 20px;
  width: 264px;
}

.gallery-text {
  padding: 2px 20px 0;
  background: #e6eef3;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  height: 155px;
}

.gallery-text p {
  line-height: 18px;
  letter-spacing: -1px;
}



/* About */
.number {
  float: left;
  border-right: 1px solid #B5B5B5;
  padding: 0 5px 0 0;
  font-size: 25px;
  font-weight: 300;
  height:49px;
}
.reason {
  float: left;
  border-left: 1px solid #F8FBFD;
  padding: 0 0 0 7px;
}
.reason-title {
  font-size: 20px;
}
.reason-text {
  float: left;
  margin: 10px 0 0 29px;
}
.reason-text ul {
  margin: 0 0 0 10px;
}
.reason-text li {
  list-style-type: none;
  background: url(/images/bullet_square.gif) no-repeat 0 8px;
  padding-left: 15px;
  margin: 10px 0;
}

/* Events */
.box-events {
  float:left;
  width: 300px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  margin: 20px 20px 0 0;
}
.box-calendar {
  float:left;
	background: white;
	-moz-box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  margin: 20px 0;
}


.bg-content {
  padding: 25px 40px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 4px #999;
  -webkit-box-shadow: 0 0 4px #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CEDBE2;
  overflow: hidden;
  width: 1076px;
}

.no-left-margin {
	margin-left: 0;
}

/* Jobs */
.column-jobs {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  padding: 10px 20px 20px 20px;
  margin: 0 0 20px 0;
}

.column-jobs h3 a {
	color: #333;
}

.view-more {
  line-height: 15px;
  padding-bottom: 6px;
}

.positions h2 {
  float: left;
  margin-right: 10px;
}

.more {
  padding: 10px 0 0 0;
}


.diagram {
  width: 670px;
  height: 350px;
  background: #0A2242;
  margin: 0 0 15px 20px;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  float:left;
	-moz-box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(/images/org/bg-squares.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}



/* Dev Center */
.top-box {
  float:left;
  width: 972px;
  min-height:79px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  padding: 30px 50px 5px 50px;
  margin: 0 0 35px 0;
}

.top-box a {
  color:#444546;
}

.top-box a:hover {
  text-decoration:none;
  color:#0099D6;
}

.top-box li {
  float:left;
  background:url('/images/arrow.png') no-repeat right 6px;
  list-style-type: none;
  padding: 0 80px;
}

.top-box li:last-child {
  background:none;
  padding-right:0;
}

.top-box li:first-child {
  padding-left:0;
}

.top-box .title {
  font-weight:bold;
  color:#444546;
  font-size:25px;
}

.use-getinvolved-links {
	height:70px;
}

.dev-center {
  font-size:28px;
}

.extra {
  padding-right: 5px;
}

.framework-item:hover {
	background: #a9d9f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9d9f3 0%, #f9f9fa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9d9f3), color-stop(100%,#f9f9fa));
  background: -webkit-linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
  background: -o-linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
  background: -ms-linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
  background: linear-gradient(top,  #a9d9f3 0%,#f9f9fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9d9f3', endColorstr='#f9f9fa',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
}

.framework-box a, .service-box a {
	color: #333;
	text-decoration: none;
}

.framework-box, .service-box {
  float:left;
  min-height:79px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  margin: 15px 25px 35px 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 1px -1px white;
	-moz-box-shadow: 0 2px 1px -1px white;
	-webkit-box-shadow: 0 2px 1px -1px white;
	width: 1167px;
}

.framework-item, .service-item {
  float:left;
  width: 291px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height:305px;
}

.custom-service-item {
  float:left;
  height:305px;
}

.custom-service-item h1 {
	padding: 15px 0;
	color: #636769;
}

.no-margin-bottom {
  margin-bottom:0;
}

.no-margin-top {
  margin-top:0;
}

.padded-cell {
  padding: 20px 30px;
}

.framework-image, .service-image {
  height:71px;
}

.no-border-right {
  border-right:none;
}

.no-border-bottom {
  border-bottom:none;
}

.no-bg {
	background: none;
}

.answer {
  display:none;
  background: none scroll rgba(255,255,255,0.5);
	padding: 15px;
	margin: 10px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	width: 1130px;
}

#toggle {
	padding-left: 15px;
}

#toggle2 {
	font-size: 20px;
	color: #333;
}


/* Webinars */

.intro-text-webinars {
  float:left;
  width: 599px;
  margin-right: 30px;
}

.promo-webinars {
  float:right;
  width:250px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  padding: 25px 40px;
  margin: 0 0 20px 0;
}

/* Homepage */
.blog-more-link a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	float: left;
	color: #0099D6;
	padding-bottom: 20px;
}

.blog-more-link a:hover {
	text-decoration: underline;
}

.blue-right-arrow {
	background: url('/images/cf-icons.png') 0 -110px no-repeat;
	width: 15px;
	height: 15px;
	float: left;
	margin: 5px 0 0 7px;
}

.announcements-more-link {
	margin: 0 190px 0 0;
}

.announcements-more-link a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	float: right;
}

.blue-right-arrow-right {
	background: url('/images/cf-icons.png') 0 -110px no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	margin: 5px 0 0 7px;
}

/*  Contact & partners page forms */


.bg-dk-blue, .bg-dk-blue-partners {
	background: #21303c;
	height: 349px;
	color: white;
	text-shadow: none;
	font-weight: 200;
	width: 1230px;
	margin-left: -35px;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-bottom: 228px;
}

.bg-dk-blue-partners {
	margin-left: -30px;
	margin-bottom: 20px;
}

.contact-text {
	margin-left: 40px;
	width: 344px;
	float: left;
	margin-right: 85px;
}

.contact-text h3 {
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: none;
	font-weight: 500;
	margin-top: 0;
}

.contact-form-div {
	float: left;
}

.contact-form-div label {
	text-transform: uppercase;
	font-size: 12px;
}

.contact-form-div input {
	width: 295px;
}

.contact-form-div textarea {
	width: 330px;
}

.contact-form-div select {
	width: 343px;
}

.left-side {
	float: left;
	width: 383px;
}

.right-side {
	float: left;
}