table.gsc-search-box td.gsc-input {
    padding:0;
}

div.gsc-control-cse {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}


div.gsc-control-cse td.gsib_a {
    padding-top: 3px;
    padding-bottom: 0px;
}

div.gsc-control-cse input[type="button"] {
    background-color: #007a6c !important;
    color: white;
    padding: 6px 20px 15px;
    font-size: 12px;
    display: inline-block;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: -1px;
    border-radius: 0;
}

html {
    height: 100%;
    margin: 0
}

body {
    background: #f3f3f3;
    color: #67696E;
    font-family: 'freight-sans-pro',sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0
}
a {
    color: #3671b2;
    text-decoration: none;
    transition-property: background,color;
    transition-duration: .5s;
    -webkit-transition-property: background,color;
    -webkit-transition-duration: .5s
}
a:hover,a:focus {
    color: #007296;
    text-decoration: underline;
    transition-property: background,color;
    transition-duration: .25s;
    -webkit-transition-property: background,color;
    -webkit-transition-duration: .25s
}
h1,h2 {
    color: #007167
}
h1 {
    font-size: 21px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0;
    text-shadow: 0 -1px #fff
}
h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 10px;
    padding: 0;
    text-shadow: 0 1px #fff
}
h3 {
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 10px 30px 3px;
    text-transform: uppercase
}
h4 {
    color: #eb6d44;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    padding: 0;
    text-transform: uppercase
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -36px
}
.thumbnail {
    position: relative;
    background: #FBFAFA;
    border: 2px solid #66AFA9;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0 3px 0 #E8E8E8;
    -moz-box-shadow: 0 3px 0 #E8E8E8;
    box-shadow: 0 3px 0 #E8E8E8;
    display: inline-block;
    font-size: 12px;
    height: 210px;
    line-height: 1.25;
    margin-bottom: 20px;
    padding: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    position: relative
}
.thumbnail:hover {
    background: #DEE9E8;
    text-decoration: none
}
.thumbnail a.configure,.thumbnail .action {
    padding-right: 25px;
    padding-left: 25px
}
.thumbnail a.configure {
    padding-top: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    color: #6d6e71;
    line-height: 1.5;
    text-align: left
}
.thumbnail .action {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    font-weight: normal;
    font-size: 12px;
    background: #DEE9E8;
    border-radius: 0 0 9px 9px
}
.thumbnail .caption {
    line-height: 1.2em;
    margin-top: 10px;
    position: absolute;
    top: 100px;
    width: 77%
}
.thumbnail .caption {
    display: none
}
.main-page .thumbnail .caption {
    display: none
}
.main-page .thumbnail {
    height: 210px
}
.main-page .thumbnail.add-component .caption {
    display: block;
    top: 120px
}
.thumbnail .version {
    position: absolute;
    bottom: 65px
}
.thumbnail.add-component {
    border-color: #B3B3B3;
    border-style: dashed;
    background: #E4E4E4
}
.thumbnail.add-component:hover {
    background: #DDD
}
.site-footer {
    color: white;
    background: #1d1d1d;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.site-footer-links span {
    padding: 9px 0;
    margin-right: 5px;
    display: inline-block
}
.site-footer-links span:last-child {
    float: right
}
.site-footer-links a {
    color: white;
}
.site-footer-links a:hover {
    text-decoration: underline;
}

.prodname {
    font-size: 2em;
    line-height: 120%;
}

header.navbar .navbar-inner {
    z-index: 999;
    background-image: none;
    filter: none;
    border: none;
    box-shadow: none;
    position: relative;
    border-radius: 0;
    padding: 0;
    height: 99px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 50px;
}

.container-fluid {
    max-width: 1340px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
header.navbar .navbar-inner .pivotal-logo--container {
    display: inline-block;
    background: #00786e;
    padding: 31px 36px 17px 56px;
    float: left;
}
header.navbar .navbar-inner .pivotal-logo--container .pivotal-logo {
    display: inline-block;
    text-decoration: none;
}
a.pivotal-logo {
    background: url(../images/pivotal-logo.png) -1px -1px no-repeat;
}
a.pivotal-logo span {
    display: block;
    width: 160px;
    height: 46px;
    background: url(../images/pivotal-logo.png) -1px -48px no-repeat;
    opacity: 0;
    -moz-transition: opacity 0.12s ease-in-out;
    -webkit-transition: opacity 0.12s ease-in-out;
    -o-transition: opacity 0.12s ease-in-out;
}
.nav.pull-right {
    margin-top: -20px;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: right;
    margin: 44px 10px 0 0;
}
.nav {
    list-style: none;
}
.navbar .nav > li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-link {
    color: #777777;
}
header.navbar .navbar-inner .navbar-link a {
    color: #666;
    font-family: 'freight-sans-pro',sans-serif;
    text-shadow: none;
    font-size: 16px;
    line-height: 14px;
    padding: 51px 30px 34px;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
}
header.navbar .navbar-inner .navbar-link:hover a {
    background-color: rgba(0,0,0,0.1);
}
.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.nav>li:last-child>a {
    display: inline-block;
    position: relative;
    background-color: transparent;
    background-image: url(../images/searchsprite.png);
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    background-position: 0 0;
}
.nav>li:last-child>a span {
    position: absolute;
    background-image: url(../images/searchsprite.png);
    background-repeat: no-repeat;
    padding: 0;
    width: 25px;
    height: 25px;
    background-position: -26px 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -o-transition:      opacity 0.5s;
}
.nav>li:last-child>a:hover span, .nav>li:last-child>a:focus span {
    opacity: 1;
}

#get-started {
    position: absolute;
    right: 0;
}

@media (max-width: 1700px) {
    .navbar .nav.pull-right {margin-right: 160px;}
}

@media (max-width: 928px) {
    .navbar .nav.pull-right {margin-right: 140px;}
    header.navbar .navbar-inner .navbar-link a {padding: 51px 20px 34px;}
}

@media (max-width: 828px) {
    header.navbar .navbar-inner .navbar-link a {padding: 51px 15px 34px;}
}

@media (max-width: 800px) {
    #get-started {display: none;}
    .navbar .nav.pull-right {margin-right: 0;}
}

.main-container {
    padding-left: 54px;
}

.main.row-fluid .span3:first-child {
    margin-left: 2.127659574468085%;
}

.main.row-fluid .thumbnail {
    width: 220px;
}

input.gsc-input {
    margin-bottom: 0;
}

input.gsc-search-button {
    line-height: normal;
}

#nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}
