/*
 * FILE: print.scss
======================================================================== */
/*
 * FILE: _vars.scss
======================================================================== */
/*doc
---
title: Colors
name: colors
category: basics
---
<div class="swatch-1">
  $navy: #243640
</div>
<div class="swatch-2">
  $gray1: #424242
</div>
<div class="swatch-3">
  $gray2: #686868
</div>
<div class="swatch-4">
  $gray3: #b5b5b5
</div>
<div class="swatch-5">
  $gray4: #eceae9
</div>
<div class="swatch-6">
  $gray5: #f8f8f8
</div>
<div class="swatch-7">
  $gray6: #fdfdfd
</div>
<div class="swatch-8">
  $blue1: #2185c5
</div>
<div class="swatch-9">
  $blue2: #a7cae1
</div>
<div class="swatch-10">
  $bluegray1: #4b6475
</div>
<div class="swatch-11">
  $teal: #03786D
</div>
<div class="swatch-12">
  $teal2: #00a79d
</div>
*/
pre code, p code, .terminal {
  font-family: "DejaVu Sans Mono";
  page-break-inside: avoid;
}

ol li {
  margin-left: 15px;
}

.wrap {
  width: 2400px;
}
.wrap .container {
  margin-left: 0;
}

li p code {
  width: auto;
  display: inline;
}

pre, pre code {
  overflow: visible;
}

.pivotalcf .logo {
  background: none;
  padding-left: 0;
}

.quick-links,
.nav-container,
.header,
.site-footer-links {
  display: none;
}

h1 {
  margin-top: 0;
  font-size: 1.563em;
}
