table.gsc-search-box, table.gsc-search-box table {
    margin-top: 0;
}

table.gstl_50 td.gsib_b {
    padding:0;
}

table.gsc-search-box tbody {
    border: 0;
}

form.gsc-search-box, table.gsc-search-box td.gsc-input {
    padding-left: 0 !important;
}

div.gsc-control-cse {
    background-color: #ffffff;
    padding: 0;
    border: 0;
}

div.gsc-control-cse tbody {
    border: 0;
}

div.gsc-resultsbox-visible td { padding: 0 0 0 5px;}