/* This is the css stylesheet for the Confluence HTML Converter 
Notes related to the Confluence HTML Converter are denoted by a PPD.
The primary section for Confluence HTML is plainly marked and contains 
the majority of the content being converted by the module. */
/* Pivotal: Fix issue with multiple lines bleeding into each other */
h1 {
  line-height: 1 !important;
}

/* Pivotal: Fix issue with multiple lines bleeding into each other */
h3.title-container {
  line-height: 1 !important;
}

/* Pivotal: Fix issue with bleeding into paragraph text */
.body-container h4 {
  height: auto !important;
}

/* Lists */
.body-container ol, .body-container ul {
  padding-left: 40px !important;
}

ul.toc-indentation {
  font-size: medium;
}

/* Pivotal: Tables. Borrowed from Pivotal CF pages */
.confluenceTable table {
  font-size: 12px;
  color: #333333;
  width: 100%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
}

.confluenceTable th {
  font-size: 12px;
  background-color: #acc8cc;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align: center;
}

.confluenceTable tr {
  background-color: #d4e3e5;
}

.confluenceTable td {
  font-size: 12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
}

.confluenceTable tr:hover {
  background-color: #ffffff;
}

/* Pivotal: Hints, notes, tips, and warnings */
/* Pivotal: Hints, notes, tips, and warnings: background tile */
.wiki-content .aui-message {
  margin: 10px 0 20px;
}

.aui-message.problem {
  background: none repeat scroll 0 0 #FFF8F7;
  border-color: #D04437;
}

.aui-message.error {
  background: #d04437;
  border-color: #d04437;
  color: #fff;
}

.aui-message.warning {
  background: #fffdf6;
  border-color: #ffeaae;
}

.aui-message.info {
  background: #fcfcfc;
  border-color: #8c9fb2;
}

.aui-message.success {
  background: #f3f9f4;
  border-color: #91c89c;
}

.aui-message.hint {
  background: #fcfcfc;
  border-color: #aab8c6;
}

.aui-message.shadowed {
  box-shadow: none;
}

.aui-message {
  background: none repeat scroll 0 0 #FCFCFC;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  color: #333333;
  margin: 10px 0 0;
  padding: 10px 10px 10px 36px;
  position: relative;
}

.wiki-content {
  font-family: sans-serif;
  line-height: 25px;
}

/* Pivotal: ol, ul: Adjust left-hand margin defined in master.css */
.content ul, .content ol {
  margin-left: 1em !important;
}

/* Pivotal: Hints, notes, tips, and warnings: titles */
.aui-message p.title {
  font-weight: bold;
}

/* Pivotal: Hints, notes, tips, and warnings: icons */
.aui-message .aui-icon {
  left: 10px;
  position: absolute;
  top: 12px;
}

.aui-message .icon-hint, .aui-icon-hint, .aui-message .icon-info, .aui-icon-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA1klEQVR42qWTUQqCQBCGfdKCuogu+qBeoot0kl7TBwU9S3QLyega9ZBh1L/wLyyDLGkLHzj/vzPM7o6eXLv9IQRH0IMnuVAL7b0y0QcVeIPPFPQasJ5KPlkbW5CDFcmpGf8MfLtATeMGEqObBCuOwJV6ZYsjxVhrsoDQEuojiLRQmLa9H5d1nEIHPYOMvrMD6hm9XgcDg2BGgYDesLTAlt596RFSep3jEp0FWnqlDtTMZ4ytZ1SuQZJLDlLtGuUGpNQ3/G7kKP/5M7nbLNnqCzxAR03J/V+HSh9XtOsatQAAAABJRU5ErkJggg==");
}

.aui-message .icon-success, .aui-icon-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA9klEQVR42qWTPQrCQBSErfwBhRQewDoGFYyHtDEWCSSVR8gBRDxCGjFi4xEstFBR4jyYYnmuK5LAB/vmzexuNpuGfvrzwAcLUIIb2VPzTa8ONkEMXqCywV4KOrbw2jBmYAbaZEatIhvJmBMkbBzB2LHLITjQG5vik+Ko8eORBeh9SlaEiELmCHmgACvWGTORFCWL8Et4IGF6TtRC1qUUdxYtNiOB4wk4s18Aj3qL2v1jAiOQ28L09Khf1CuoVS1heqbs7ayHyEm2INdhdYhLKYI/P+PI+IxBnYuUuK5yCqbUuxyn+irX/Jnc21xyqw9wBTtqgfa/Af067eG0xhemAAAAAElFTkSuQmCC");
}

.aui-message .icon-problem, .aui-icon-problem {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVQ4y6WTTQ6CQAyFZ+VPohcBAgvBC3g/YQEJnsV4BjdGjNfQhRiNvppHUnGYBJnkS+jrtHQ6HWNaa79aemANKnAjR2qe6VpwjkAOnuDVgfhKMLUFb9XGDUjAhCTUGv9OYnSCgo4ziJT+CVC2D07Ucy0+KIatyr4SUIuoS4wvQtqUbenLTwLqzXFSw26LEfdIENNXiVHTGPdIMKav/jfBnL6L8wiOmVkw5jC0iZkYQc9rDNU1Bs5BsvxZD1LhGuWS5xR9xu+yc5QHPyZLmRlLvYOrdJta0N7/BnQXKgcW/4OXAAAAAElFTkSuQmCC");
}

.aui-message .icon-warning, .aui-icon-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABA0lEQVR42p2QP0tCURiH7zdQRA3u4OJUiyDY4CDtTuEXuXs0JEQ4uDk5C0EuKoEu+SWcg5baLCS7tNTx98IzyMWjXoeHe95/z3vODdzi2kdTvIo30fL1+YbLIhYOfsV5GsFAOL59zsNjBRfij60lEXKbf1E5RvDExl4URYGwXJfc6JCgwqZYhBp2hs5n4odadZ9gzKYu2x1YrUPt2SeosWEtijsEBfGN5HKXYErxweKkAMk9PbOkoE5hJXI+AbUVvfVtwZzkHTECAGptel8cgisSnyJDk+8GRlZ8MdOwxITghoa9ArhlZmzB+/abDjwh+c8+LBgRnMLEBHnxKJYpBpfMFDbGjWcGPFD11gAAAABJRU5ErkJggg==");
}

.aui-icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  border: medium none;
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: -999em;
  vertical-align: text-bottom;
  width: 16px;
}

/* Copy heading CSS properties to paragraphs inserted for PDF output */
p.bridge1 {
  color: #3C3D42;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 55px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 20px;
  padding: 0 15px;
  text-transform: none;
}

p.bridge2 {
  color: #000;
  font-size: 23px;
  font-weight: 100;
  line-height: 32px;
  min-height: 32px;
  margin-bottom: 10px;
  padding-top: 10px;
}

p.bridge3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  margin-bottom: 10px;
  padding-left: 0px;
}

p.bridge {
  color: #4baa47;
  font-size: 15px;
  height: 19px;
}

p.bridge5 {
  font-weight: bold;
  font-size: 18px;
}

/* End PDL default-theme.css */
