<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li class="has_submenu">
        <span>Cloud Foundry Command Line Interface (cf CLI)</span>
        <ul>
          <li>
            <a href="/cf-cli/v7.html">Installing the cf CLI</a>
          </li>
    </ul>
  </div>
</div>
