<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
  Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li><strong>General Information</strong></li>
      <li class=""><a href="/concepts/contribute.html">Contribute to Cloud Foundry documentation</a></li>
      <li class="has_submenu"><a href="/concepts/index.html">Cloud Foundry concepts</a>
        <ul>
          <li class=""><a href="/concepts/overview.html">Cloud Foundry overview</a></li>
          <li class="has_submenu"><a href="/concepts/security-index.html">Security and networking</a>
            <ul>
              <li class=""><a href="/concepts/security.html">Cloud Foundry security</a></li>
              <li class=""><a href="/concepts/container-security.html">Container security in Cloud Foundry</a></li>
              <li class=""><a href="/concepts/understand-cf-networking.html">Container-to-container networking</a></li>
              <li class=""><a href="/concepts/roles.html">Orgs, spaces, roles, and permissions in Cloud Foundry</a></li>
              <li class=""><a href="/concepts/orgs-and-spaces.html">Planning orgs and spaces in Cloud Foundry</a></li>
              <li class=""><a href="/concepts/asg.html">App Security Groups in Cloud Foundry</a></li>
              <li class=""><a href="/concepts/diego/ssh-conceptual.html">Cloud Foundry app SSH components and processes</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/concepts/ha-index.html">High availability</a>
            <ul>
              <li class=""><a href="/concepts/high-availability.html">High availability in Cloud Foundry</a></li>
              <li class=""><a href="/concepts/maintaining-high-availability.html">How Cloud Foundry maintains high availability</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/concepts/apps-index.html">How Cloud Foundry manages apps</a>
            <ul>
              <li class=""><a href="/concepts/how-applications-are-staged.html">Staging your apps in Cloud Floundry</a></li>
              <li class=""><a href="/devguide/deploy-apps/app-lifecycle.html">The app container lifecycle on Diego architecture</a></li>
              <li class=""><a href="/concepts/diego/diego-auction.html">How Diego balances app processes in Cloud Foundry</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/concepts/architecture/index.html">Cloud Foundry components</a>
            <ul>
              <li class=""><a href="/concepts/diego/diego-architecture.html">Diego components and architecture</a></li>
              <li class=""><a href="/concepts/cf-routing-architecture.html">Cloud Foundry routing architecture</a></li>
              <li class=""><a href="/concepts/architecture/cloud-controller.html">Cloud Controller</a></li>
              <li class=""><a href="/concepts/cc-blobstore.html">Cloud Controller blobstore</a></li>
              <li class=""><a href="/concepts/architecture/uaa.html">User Account and Authentication server</a></li>
              <li class=""><a href="/concepts/architecture/garden.html">Garden component</a></li>
              <li class=""><a href="/concepts/grootfs-disk.html">GrootFS disk usage in Cloud Foundry</a></li>
              <li class=""><a href="/concepts/http-routing.html">HTTP routing</a></li>
            </ul>
          </li>
        </ul>
      <li class="has_submenu"><span>Cloud Foundry Command Line Interface (cf CLI)</span>
        <ul>
          <li class=""><a href="/cf-cli/install-go-cli.html">Installing the cf CLI</a></li>
          <li class=""><a href="/cf-cli/v7.html">Upgrading to cf CLI v7</a></li>
          <li class=""><a href="/cf-cli/v8.html">Upgrading to cf CLI v8</a></li>
          <li class=""><a href="/cf-cli/getting-started.html">Getting started with the cf CLI</a></li>
          <li class=""><a href="/cf-cli/http-proxy.html">Using the cf CLI with a proxy server</a></li>
          <li class=""><a href="/cf-cli/self-signed.html">Using the cf CLI with a self-signed certificate</a></li>
          <li class=""><a href="/cf-cli/use-cli-plugins.html">Using cf CLI plug-ins</a></li>
          <li class=""><a href="/cf-cli/develop-cli-plugins.html">Developing cf CLI plug-ins</a></li>
          <li class=""><a href="https://cli.cloudfoundry.org/en-US/v6/">cf CLI v6 Reference Guide</a></li>
          <li class=""><a href="https://cli.cloudfoundry.org/en-US/v7/">cf CLI v7 Reference Guide</a></li>
          <li class=""><a href="https://cli.cloudfoundry.org/en-US/v8/">cf CLI v8 Reference Guide</a></li>
        </ul>
      </li>
      <li>
        <span>
          <hr>
        </span>
      </li>
      <li><strong>Information for Operators</strong></li>
      <li class="has_submenu"><a href="/deploying/index.html">Deploying Cloud Foundry</a>
        <ul>
          <li class=""><a href="/deploying/common/dns_prereqs.html">Setting up DNS for your environment</a></li>
          <li class="has_submenu"><a href="/deploying/cf-deployment/index.html">Deploying Cloud Foundry with cf-deployment</a>
            <ul>
              <li class=""><a href="/deploying/common/aws.html">Deploying BOSH on AWS</a></li>
              <li class=""><a href="/deploying/cf-deployment/gcp.html">Deploying BOSH on GCP</a></li>
              <li class=""><a href="/deploying/cf-deployment/deploy-cf.html">Deploying Cloud Foundry</a></li>
            </ul>
          </li>
          <li class=""><a href="/deploying/migrating.html">Migrating from cf-release to cf-deployment</a></li>
          <li class="has_submenu"><a href="/bbr/cf-backup.html">Configuring your Cloud Foundry for BOSH Backup and Restore</a>
            <ul>
              <li class=""><a href="/bbr/external-blobstores.html">Backup and restore for external blobstores</a></li>
            </ul>
          </li>
          <li class="has_submenu"><span>Additional configuration</span>
            <ul>
              <li class=""><a href="/concepts/high-availability.html">High availability in Cloud Foundry</a></li>
              <li class=""><a href="/concepts/maintaining-high-availability.html">How Cloud Foundry maintains high availability</a></li>
              <li class=""><a href="/deploying/common/cc-blobstore-config.html">Cloud Controller blobstore configuration</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has_submenu"><a href="/adminguide/index.html">Administering Cloud Foundry</a>
        <ul>
          <li class="has_submenu"><a href="/adminguide/platform-index.html">Managing the runtime</a>
            <ul>
              <li class=""><a href="/adminguide/start-stop-vms.html">Stopping and starting virtual machines</a></li>
              <li class=""><a href="/adminguide/quota-plans.html">Creating and modifying quota plans</a></li>
              <li class=""><a href="/adminguide/listing-feature-flags.html">Using feature flags</a></li>
              <li class=""><a href="/adminguide/using-cpu-entitlement-plugin.html">Using the CPU entitlement plug-in</a></li>
              <li class=""><a href="/adminguide/examining_grootfs_disk.html">Examining GrootFS disk usage</a></li>
              <li class=""><a href="/adminguide/metadata.html">Using metadata</a></li>
              <li class=""><a href="/adminguide/buildpacks.html">Managing custom buildpacks</a></li>
              <li class=""><a href="/adminguide/docker.html">Using Docker in Cloud Foundry</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/adminguide/user-accounts-index.html">User accounts and communications</a>
            <ul>
              <li class=""><a href="/adminguide/cli-user-management.html">Creating and managing users with the cf CLI</a></li>
              <li class=""><a href="/uaa/uaa-user-management.html">Creating and managing users with the UAA CLI (UAAC)</a></li>
              <li class=""><a href="/adminguide/notifications.html">Get started with the Notifications Service</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/adminguide/routing-index.html">Routing</a>
            <ul>
              <li class=""><a href="/adminguide/enabling_ipv6.html">Enabling IPv6 for hosted apps</a></li>
              <li class=""><a href="/adminguide/distributed-tracing.html">Distributed tracing</a></li>
              <li class=""><a href="/adminguide/zipkin_tracing.html">Enabling Zipkin tracing</a></li>
              <li class=""><a href="/adminguide/w3c_tracing.html">Enabling W3C tracing</a></li>
              <li class=""><a href="/adminguide/supporting-websockets.html">Supporting WebSockets</a></li>
              <li class=""><a href="/adminguide/configure-lb-healthcheck.html">Configuring load balancer health checks for CF routers</a></li>
              <li class=""><a href="/adminguide/securing-traffic.html">Securing incoming traffic</a></li>
              <li class=""><a href="/adminguide/enabling-tcp-routing.html">Enabling and configuring TCP routing</a></li>
              <li class=""><a href="/adminguide/supporting-http2.html">Configuring HTTP/2 support</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/adminguide/isolation-segment-index.html">Isolation segments</a>
            <ul>
              <li class=""><a href="/adminguide/isolation-segments.html">Managing isolation segments</a></li>
              <li class=""><a href="/adminguide/routing-is.html">Routing for isolation segments</a></li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/adminguide/delayed-jobs-index.html">Delayed jobs in Cloud Foundry</a>
            <ul>
              <li class="">
                <a href="/adminguide/configuring-delayed-job-priorities.html">Configuring delayed job priorities with Cloud Controller</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/adminguide/managing-apps-stacks-index.html">Managing apps and their stacks</a>
            <ul>
              <li class=""><a href="/adminguide/stack-auditor.html">Using Stack Auditor</a></li>
              <li class=""><a href="/devguide/deploy-apps/stacks.html">Changing stacks</a></li>
              <li class=""><a href="/devguide/deploy-apps/windows-stacks.html">Restaging your apps on a Windows stack</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has_submenu"><a href="/running/">Running and Troubleshooting Cloud Foundry</a>
        <ul>
          <li class=""><a href="/running/managing-cf/logging.html">Cloud Foundry logging</a></li>
          <li class=""><a href="/running/managing-cf/logging-config.html">Configuring system logging</a></li>
          <li class=""><a href="/running/diego-upgrades.html">Configuring Diego for upgrades</a></li>
          <li class=""><a href="/running/managing-cf/audit-events.html">Audit Events</a></li>
          <li class=""><a href="/running/managing-cf/uaa-audit-requirements.html">UAA audit requirements</a></li>
          <li class=""><a href="/running/managing-cf/usage-events.html">Usage events and billing</a></li>
          <li class=""><a href="/running/config-ssh.html">Configuring SSH access for Cloud Foundry</a></li>
          <li class=""><a href="/running/config-cell-cleanup.html">Configuring Diego Cell disk ceanup scheduling</a></li>
          <li class=""><a href="/running/hm-notifications.html">Configuring Health Monitor Notifications</a></li>
          <li class=""><a href="/running/monitoring-test.html">Monitoring and testing Diego components</a></li>
          <li class=""><a href="/running/troubleshooting.html">Troubleshooting Cloud Foundry</a></li>
          <li class=""><a href="/running/uaa-performance.html">UAA performance</a></li>
          <li class=""><a href="/uaa/uaa-metrics.html">UAA performance metrics</a></li>
          <li class=""><a href="/running/managing-cf/scaling-cloud-controller.html">Scaling Cloud Controller</a></li>
          <li class=""><a href="/running/managing-cf/scaling-cloud-controller-k8s.html">Scaling Cloud Controller (cf-for-k8s)</a></li>
        </ul>
      </li>
      <li class="has_submenu"><span>Logging and metrics in Cloud Foundry</span>
        <ul>
          <li class=""><a href="/loggregator/architecture.html">Logging and metrics architecture</a></li>
          <li class=""><a href="/loggregator/cli-plugin.html">Installing the Loggregator plug-in for cf CLI</a></li>
          <li class=""><a href="/loggregator/cc-uaa-logging.html">Security event logging</a></li>
          <li class=""><a href="/loggregator/app-log-rate-limits.html">Limiting your app log rate in Cloud Foundry</a></li>
          <li class=""><a href="/running/all_metrics.html">Cloud Foundry component metrics</a></li>
          <li class=""><a href="/loggregator/container-metrics.html">Container metrics</a></li>
          <li class=""><a href="/loggregator/log-ops-guide.html">Loggregator guide for Cloud Foundry operators</a></li>
          <li class=""><a href="/loggregator/data-sources.html">Logging and metrics in Cloud Foundry</a></li>
          <li class=""><a href="/loggregator/opentelemetry.html">Configuring the OpenTelemetry Collector</a></li>
          <li class=""><a href="/loggregator/nozzle-tutorial.html">Deploying a nozzle to your Cloud Foundry Loggregator Firehose</a></li>
        </ul>
      </li>
      <li class=""><a href="http://bosh.io/docs/">BOSH Documentation</a></li>
      <li class="has_submenu"><a href="/bbr/index.html">BOSH Backup and Restore (BBR)</a>
        <ul>
          <li class=""><a href="/bbr/installing.html">Installing BBR</a></li>
          <li class=""><a href="https://github.com/cloudfoundry-incubator/bosh-backup-and-restore/releases">Release notes for BBR</a></li>
          <li class=""><a href="/bbr/backup.html">Backing up with BBR</a></li>
          <li class=""><a href="/bbr/restore.html">Restoring with BBR</a></li>
          <li class=""><a href="/bbr/logging.html">BBR logging</a></li>
          <li class=""><a href="/bbr/experimental-features.html">Experimental features</a></li>
          <li class=""><a href="/bbr/bbr-devguide.html">BBR developer's guide</a></li>
        </ul>
      </li>
      <li><span><hr></span></li>
      <li><strong>Information for developers</strong></li>
      <li class="has_submenu"><a href="/devguide/index.html">Developing and managing apps</a>
        <ul>
          <li class="has_submenu"><a href="/devguide/push.html">How to push your app with Cloud Foundry CLI (cf push)</a>
            <ul>
              <li class=""><a href="/devguide/deploy-apps/deploy-app.html">Pushing your app using Cloud Foundry CLI (cf push)<a></li>
              <li class=""><a href="/devguide/deploy-apps/manifest.html">Deploying with app manifests</a></li>
              <li class=""><a href="/devguide/deploy-apps/manifest-attributes.html">App manifest attribute reference</a></li>
              <li class=""><a href="/devguide/deploy-apps/push-docker.html">Deploying an app with Docker</a></li>
              <li class=""><a href="/devguide/deploy-apps/large-app-deploy.html">Deploying your large apps</a></li>
              <li class=""><a href="/devguide/deploy-apps/start-restart-restage.html">Starting, restarting, and restaging apps</a></li>
              <li class=""><a href="/devguide/multiple-processes.html">Pushing an app with multiple processes</a></li>
              <li class=""><a href="/devguide/push-sub-commands.html">Running cf push sub-step commands</a></li>
              <li class=""><a href="/devguide/deploy-apps/canary-deploy.html">Configuring canary app deployments</a></li>
              <li class=""><a href="/devguide/deploy-apps/rolling-deploy.html">Configuring rolling app deployments</a></li>
              <li class=""><a href="/devguide/sidecars.html">Pushing apps with sidecar processes</a></li>
              <li class=""><a href="/devguide/deploy-apps/blue-green.html">Using blue-green deployment to reduce downtime</a>
              <li class=""><a href="/devguide/deploy-apps/troubleshoot-app-health.html">Troubleshooting app deployment and health</a></li>
            </ul>
          <li class="has_submenu"><a href="/devguide/ssh-index.html">SSH for apps and services</a>
            <ul>
              <li class=""><a href="/devguide/deploy-apps/app-ssh-overview.html">Configuring SSH access for your deployment</a></li>
              <li class=""><a href="/devguide/deploy-apps/ssh-apps.html">Accessing your apps with SSH</a></li>
              <li class=""><a href="/devguide/deploy-apps/ssh-services.html">Accessing services with SSH</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/devguide/routing-index.html">Routes and domains</a>
            <ul>
              <li class=""><a href="/devguide/deploy-apps/routes-domains.html">Configuring routes and domains</a></li>
              <li class=""><a href="/devguide/custom-ports.html">Configuring CF to route traffic to apps on custom ports</a></li>
              <li class=""><a href="/devguide/http2-protocol.html">Routing HTTP/2 and gRPC traffic to apps</a></li>
              <li class=""><a href="/adminguide/troubleshooting_tcp_routing.html">Troubleshooting TCP routing</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/devguide/services-index.html">Managing services</a>
            <ul>
              <li class=""><a href="/devguide/services/managing-services.html">Managing service instances</a></li>
              <li class=""><a href="/devguide/services/sharing-instances.html">Sharing service instances</a></li>
              <li class=""><a href="/devguide/services/application-binding.html">Delivering service credentials to an app</a></li>
              <li class=""><a href="/devguide/services/service-keys.html">Managing service keys</a></li>
              <li class=""><a href="/devguide/services/play-service-bindings.html">Configuring Play Framework service connections</a></li>
              <li class=""><a href="/devguide/services/using-vol-services.html">Using an external file system (volume services)</a></li>
              <li class=""><a href="/devguide/services/user-provided.html">User-provided service instances</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/devguide/streaming-logs-index.html">Streaming app logs</a>
            <ul>
              <li class=""><a href="/devguide/services/log-management.html">Streaming app logs to log management services</a></li>
              <li class=""><a href="/devguide/services/log-management-thirdparty-svc.html">Streaming app logs to third-party services</a></li>
              <li class=""><a href="/devguide/services/integrate-splunk.html">Streaming app logs to Splunk</a></li>
              <li class=""><a href="/devguide/services/fluentd.html">Streaming app logs with Fluentd</a></li>
              <li class=""><a href="/devguide/services/oms-nozzle.html">Streaming app logs to Azure OMS log analytics</a></li>
              <li class=""><a href="/devguide/services/metrics.html">Using metrics with drain logs</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/devguide/managing-apps-index.html">Managing apps with the cf CLI</a>
            <ul>
              <li class=""><a href="/devguide/using-tasks.html">Running tasks in your apps</a></li>
              <li class=""><a href="/devguide/deploy-apps/cf-scale.html">Scaling your app using Cloud Foundry CLI (cf scale)</a></li>
              <li class=""><a href="/devguide/deploy-apps/healthchecks.html">Using Cloud Foundry health checks</a></li>
              <li class=""><a href="/running/managing-cf/app-event.html">Retrieving app and event information</a></li>
              <li class=""><a href="/devguide/deploy-apps/cf-networking.html">Configuring container-to-Container networking</a></li>
            </ul>
          </li>
          <li class=""><a href="/devguide/deploy-apps/environment-variable.html">Cloud Foundry environment variables</a></li>
          <li class=""><a href="/devguide/capi/client-libraries.html">Available Cloud Controller API client libraries</a></li>
          <li class=""><a href="/devguide/deploy-apps/prepare-to-deploy.html">Designing and running your app in the cloud</a></li>
          <li class=""><a href="/devguide/revisions.html">Cloud Foundry API app revisions</a></li>
        </ul>
      </li>


      <li class="has_submenu"><a href="/buildpacks/">Cloud Foundry Buildpacks</a>
        <ul>
          <li class="has_submenu"><a href="/buildpacks/cnb">Cloud Native Buildpacks</a>
            <ul>
              <li class=""><a href="/buildpacks/cnb/index.html">What are Cloud Native Buildpacks? </a></li>
              <li class=""><a href="/buildpacks/cnb/using.html">Using buildpacks </a></li>
              <li class=""><a href="/buildpacks/cnb/paketo.html">Paketo buildpacks </a></li>
              <li class=""><a href="/buildpacks/cnb/own.html">Developing your own buildpacks </a></li>
            </ul>
          </li>  

          <li class="has_submenu"><a href="/buildpacks/classical/">Classical Buildpacks</a>
          <ul>
          <li class="has_submenu"><a href="/buildpacks/classical/using-buildpacks.html">What are classical buildpacks?</a>
            <ul>
              <li class=""><a href="/buildpacks/classical/understand-buildpacks.html">Working with buildpacks in Cloud Foundry </a></li>
              <li class=""><a href="/buildpacks/classical/stack-association.html">Stack association</a></li>
              <li class=""><a href="/buildpacks/classical/use-multiple-buildpacks.html">Pushing an app with multiple buildpacks</a></li>
              <li class=""><a href="/buildpacks/classical/proxy-usage.html">Using a proxy server</a></li>
              <li class=""><a href="/buildpacks/classical/supported-binary-dependencies.html">Supported binary dependencies</a></li>
              <li class=""><a href="/buildpacks/classical/prod-server.html">Configuring the production server</a></li>
            </ul>
          </li>
          <li class=""><a href="/buildpacks/classical/binary/index.html">Binary buildpack</a></li>
          <li class=""><a href="/buildpacks/classical/go/index.html">Go buildpack</a></li>
          <li class=""><a href="/buildpacks/classical/hwc/index.html">Hosted Web Core buildpack </a></li>
          <li class="has_submenu"><a href="/buildpacks/classical/java/index.html">Java buildpack</a>
            <ul>
              <li class=""><a href="/buildpacks/classical/java/java-tips.html">Using Cloud Foundry Java buildpack</a></li>
              <li class="has_submenu"><a href="/buildpacks/classical/java/getting-started-deploying-apps/index.html">Getting started deploying Java apps to Cloud Foundry</a>
                <ul>
                  <li class=""><a href="/buildpacks/classical/java/getting-started-deploying-apps/gsg-grails.html">Getting started deploying your Grails apps to Cloud Foundry</a></li>
                  <li class=""><a href="/buildpacks/classical/java/getting-started-deploying-apps/gsg-ratpack.html">Getting started deploying Ratpack apps to Cloud Foundry</a></li>
                  <li class=""><a href="/buildpacks/classical/java/getting-started-deploying-apps/gsg-spring.html">Getting started deploying Spring apps to Cloud Foundry</a></li>
                </ul>
              </li>
              <li class=""><a href="/buildpacks/classical/java/configuring-service-connections.html">Configuring service connections</a></li>
              <li class=""><a href="/buildpacks/classical/java/java-native-image.html">Using Java Native Image</a></li>
              <li class=""><a href="/buildpacks/classical/java/java-client.html">Cloud Foundry Java Client Library</a></li>
              <li class=""><a href="/buildpacks/classical/java/java-native-image.html">Using Java Native Image</a></li>
            </ul>
          </li>
          <li class=""><a href="/buildpacks/classical/dotnet-core/index.html">.NET Core buildpack</a></li>
          <li class=""><a href="/buildpacks/classical/nginx/index.html">NGINX buildpack</a></li>
          <li class="has_submenu"><a href="/buildpacks/classical/node/index.html">Node.js buildpack</a>
            <ul>
              <li class=""><a href="/buildpacks/classical/node/node-tips.html">Node.js buildpack-specific information</a></li>
              <li class=""><a href="/buildpacks/classical/node/node-environment.html">Environment variables defined by Node buildpack</a></li>
              <li class=""><a href="/buildpacks/classical/node/node-service-bindings.html">Configuring service connections for Node.js application</a></li>
            </ul>
          </li>
          <li class="has_submenu"><a href="/buildpacks/classical/php/index.html">Using PHP buildpack with runtimes</a>
            <ul>
              <li class=""><a href="/buildpacks/classical/php/gsg-php-tips.html">Additional information on PHP buildpacks in Cloud Foundry</a></li>
              <li class=""><a href="/buildpacks/classical/php/gsg-php-usage.html">Getting started deploying PHP apps to Cloud Foundry</a></li>
              <li class=""><a href="/buildpacks/classical/php/gsg-php-config.html">PHP buildpack configuration</a></li>
              <li class=""><a href="/buildpacks/classical/php/gsg-php-composer.html">Composer</a></li>
              <li class=""><a href="/buildpacks/classical/php/gsg-php-sessions.html">Sessions</a></li>
              <li class=""><a href="/buildpacks/classical/php/gsg-php-newrelic.html">New Relic</a></li>
            </ul>
          </li>
          <li class=""><a href="/buildpacks/classical/python/index.html">Python buildpack</a></li>
          <li class=""><a href="/buildpacks/classical/r/index.html">R buildpack</a></li>
          <li class="has_submenu"><a href="/buildpacks/classical/ruby/index.html">Ruby buildpack</a>
            <ul>
              <li class=""><a href="/buildpacks/classical/ruby/ruby-tips.html">Additional information on Ruby buildpacks in Cloud Foundry</a></li>
              <li class="has_submenu"><a href="/buildpacks/classical/ruby/deploying-apps-index.html">Getting started deploying Ruby apps</a>
                <ul>
                  <li class=""><a href="/buildpacks/classical/ruby/gsg-ruby.html">Getting started deploying Ruby apps</a></li>
                  <li class=""><a href="/buildpacks/classical/ruby/gsg-ror.html">Getting started deploying Ruby on Rails apps</a></li>
                </ul>
              </li>
              <li class=""><a href="/buildpacks/classical/ruby/rake-config.html">Configuring Rake tasks for deployed apps</a></li>
              <li class=""><a href="/buildpacks/classical/ruby/ruby-environment.html">Environment variables defined by Ruby buildpack</a></li>
              <li class=""><a href="/buildpacks/classical/ruby/ruby-service-bindings.html">Configuring service connections for Ruby</a></li>
              <li class=""><a href="/buildpacks/classical/ruby/windows.html">Windows Gemfile support</a></li>
            </ul>
          </li>
          <li class=""><a href="/buildpacks/classical/staticfile/index.html">Staticfile buildpacks</a></li>
          <li class="has_submenu"><a href="/buildpacks/classical/developing-buildpacks.html">Customizing and developing buildpacks in Cloud Foundry</a>
            <ul>
              <li class=""><a href="/buildpacks/classical/custom.html">Creating custom buildpacks</a></li>
              <li class=""><a href="/buildpacks/classical/depend-pkg-offline.html">Packaging dependencies for offline buildpacks</a></li>
              <li class=""><a href="/buildpacks/classical/merging_upstream.html">Merging from upstream buildpacks</a></li>
              <li class=""><a href="/buildpacks/classical/upgrading_dependency_versions.html">Upgrading dependency versions for Cloud Foundry</a></li>
              <li class="has_submenu"><a href="/buildpacks/classical/buildpack-ci-index.html">Using CI for buildpacks</a>
                <ul>
                  <li class=""><a href="/buildpacks/classical/releasing_a_new_buildpack_version.html">Releasing a new Cloud Foundry buildpack version</a></li>
                  <li class=""><a href="/buildpacks/classical/updating-buildpack-related-gems.html">Updating buildpack-related gems in Cloud Foundry</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li> 

        </ul>
      </li>
      <li><span><hr></span></li>
      <li><strong>Information for Managed Service Authors</strong>
        <ul>
          <li class=""><a href="/services/overview.html">Services in Cloud Foundry</a></li>
          <li class="has_submenu"><span>Service Broker API</span>
            <ul>
              <li class=""><a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/spec.md">Open Service Broker API</a></li>
              <li class=""><a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/profile.md">Platform profiles</a></li>
              <li class=""><a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/profile.md#service-metadata">Catalog metadata</a></li>
              <li class=""><a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/spec.md#volume-mounts-object">Volume services</a></li>
              <li class=""><a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/release-notes.md">Release Notes</a></li>
            </ul>
          </li>
          <li class=""><a href="/services/managing-service-brokers.html">Managing service brokers in Cloud Foundry</a></li>
          <li class=""><a href="/services/access-control.html">Managing access to service plans</a></li>
          <li class=""><a href="/services/binding-credentials.html">Binding credentials in Cloud Foundry</a></li>
          <li class="has_submenu"><a href="/credhub/index.html">CredHub</a>
            <ul>
              <li class=""><a href="/credhub/setup-credhub-bosh.html">Setting up and deploying CredHub with BOSH</a></li>
              <li class=""><a href="/credhub/hsm-config.html">Configuring a hardware security module</a></li>
              <li class=""><a href="/credhub/kms-plugin.html">Using a key management service with CredHub</a></li>
              <li class=""><a href="/credhub/credential-types.html">CredHub credential types</a></li>
              <li class=""><a href="/credhub/backup-restore.html">Backing up and restoring CredHub instances</a></li>
              <li class=""><a href="/credhub/troubleshooting-credhub.html">Troubleshooting CredHub</a></li>
            </ul>
          </li>
          <li class=""><a href="/services/dashboard-sso.html">Dashboard Single Sign-on</a></li>
          <li class=""><a href="/services/enable-sharing.html">Service instance sharing in Cloud Foundry</a></li>
          <li class=""><a href="/services/examples.html">Service broker examples</a></li>
          <li class=""><a href="/services/app-log-streaming.html">App log streaming in Cloud Foundry</a></li>
          <li class=""><a href="/services/route-services.html">Offering Route Services in Cloud Foundry</a></li>
          <li class=""><a href="/services/supporting-multiple-cf-instances.html">Supporting multiple CF instances</a></li>
        </ul>
      <li><span><hr></span></li>
      <li><strong>API Reference</strong></li>
      <li class=""><a href="https://docs.cloudfoundry.org/api/uaa/index.html">UAA API</a></li>
      <li class="has_submenu"><span>CAPI API</span>
        <ul>
          <li class=""><a href="/devguide/capi/client-libraries.html">Available Cloud Controller API client libraries</a></li>
          <li class=""><a href="/running/rate-limit-cloud-controller-api.html">Rate limit information returned by the Cloud Controller API</a></li>
          <li class=""><a href="http://v2-apidocs.cloudfoundry.org">CAPI V2</a></li>
          <li class=""><a href="http://v3-apidocs.cloudfoundry.org/index.html">CAPI V3</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
