<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          cf Command Line Interface
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
        <!--
<ul>
<li class="menu-link">
<a href="/customizing/index.html">
Using Ops Manager (landing)
</a>
</li>
</ul>
-->

          <ul>
            <li class="menu-link">
              <a href="/devguide/installcf/install-go-cli.html">
                Installing the cf Command Line Interface
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/installcf/whats-new-v6.html">
                Getting Started with the cf CLI
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/installcf/http-proxy.html">
                Using cf with an HTTP Proxy Server
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/installcf/use-cli-plugins.html">
                Using cf CLI Plugins
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/app-startup.html">
                About Starting Applications
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/cf-scale.html">
                Scaling an Application Using cf scale
              </a>
            </li>
          </ul>
	<li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Developing and Managing Applications
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <!--
  <li class="menu-link">
  <a href="/devguide/index.html">
  Developer Guide (landing)
  </a>
  </li>
  -->
          <ul>
			 <li class="menu-link">
	              <a href="/devguide/deploy-apps/prepare-to-deploy.html">
	                Considerations for Designing and Running an Application in the Cloud
	              </a>
	            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/deploy-app.html">
                Deploy an Application
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/large-app-deploy.html">
                Deploying a Large Application
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/domains-routes.html">
                Domains, Subdomains, and Routes
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/manifest.html">
                Deploying with Application Manifests
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/environment-variable.html">
                Cloud Foundry Environment Variables
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/blue-green.html">
                Using Blue-Green Deployment to Reduce Downtime and Risk
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/streaming-logs.html">
                Application Logging in Cloud Foundry
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/deploy-apps/troubleshoot-app-health.html">
                Troubleshooting Application Deployment and Health
              </a>
            </li>
          </ul>
          <div class="menu-subtitle">
            Integrating Service Instances with Applications
          </div>
          <ul>
            <li class="menu-link">
              <a href="/devguide/services/">
                Services Overview
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/adding-a-service.html">
                Adding a Service
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/bind-service.html">
                Binding a Service Instance
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/managing-services.html">
                Managing Service Instances with the CLI
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/managed.html">
                Third-Party Managed Service Instances
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/user-provided.html">
                User-Provided Service Instances
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/play-service-bindings.html">
                Configuring Play Framework Service Connections
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/migrate-db.html">
                Migrating a Database in Cloud Foundry
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/log-management.html">
                Using Third-Party Log Management Services
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/log-management-thirdparty-svc.html">
                Configuring Selected Third-Party Log Management Services
              </a>
            </li>
            <li class="menu-link">
              <a href="/devguide/services/integrate-splunk.html">
                Integrating Cloud Foundry with Splunk
              </a>
            </li>
          </ul>
        </div>
      </li>
	<li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Buildpacks
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/buildpacks/">
                Buildpacks
              </a>
            </li>
			<li class="menu-link">
              <a href="/buildpacks/detection.html">
                Buildpack Detection
              </a>
            </li>
			<li class="menu-link">
              <a href="/buildpacks/custom.html">
                Custom Buildpacks
              </a>
            </li>
			<li class="menu-link">
              <a href="/buildpacks/depend-pkg-offline.html">
                Packaging Dependencies for Offline Buildpacks
              </a>
            </li>
		        <div class="menu-subtitle">
		            Java
		          </div>
					<li class="menu-link">
			             <a href="/buildpacks/java/index.html">
			               Java Buildpack
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/java/java-tips.html">
			               Tips for Java Developers
			             </a>
			        </li>
          <li class="menu-link">
                    <a href="/buildpacks/java/gsg-grails.html">
                      Grails
                    </a>
              </li>
          <li class="menu-link">
                  <a href="/buildpacks/java/gsg-ratpack.html">
                    Ratpack
                  </a>
                </li>
          <li class="menu-link">
                  <a href="/buildpacks/java/gsg-spring.html">
                    Spring
                  </a>
                </li>
					<li class="menu-link">
			             <a href="/buildpacks/java/grails-service-bindings.html">
			               Configure Service Connections for Grails
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/java/play-service-bindings.html">
			               Configure Service Connections for Play
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/java/spring-service-bindings.html">
			               Configure Service Connections for Spring
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/java/sts.html">
			               Cloud Foundry Eclipse Plugin
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/java/java-client.html">
			               Cloud Foundry Java Client Library
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/java/build-tool-int.html">
			               Build Tool Integration
			             </a>
			        </li>
					<div class="menu-subtitle">
			            Node.js
			          </div>
					<li class="menu-link">
			             <a href="/buildpacks/node/index.html">
			               Node.js Buildpack
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/node/node-tips.html">
			               Tips for Node.js Applications
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/node/node-environment.html">
			               Environment Variables Defined by the Node Buildpack
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/node/node-service-bindings.html">
			               Configure Service Connections for Node.js
			             </a>
			        </li>
					<div class="menu-subtitle">
			            Ruby
			          </div>
					<li class="menu-link">
			             <a href="/buildpacks/ruby/index.html">
			               Ruby Buildpack
			             </a>
			        </li>
          <li class="menu-link">
                  <a href="/buildpacks/ruby/gsg-ruby.html">
                    Getting Started Deploying Ruby Apps
                  </a>
                </li>
          <li class="menu-link">
                  <a href="/buildpacks/ruby/gsg-ror.html">
                    Getting Started Deploying Ruby on Rails Apps
                  </a>
                </li>
          <li class="menu-link">
                  <a href="/buildpacks/ruby/rake-config.html">
                    Deploy a Sample Ruby on Rails App
                  </a>
                </li>
          <li class="menu-link">
                   <a href="/buildpacks/ruby/ruby-prod-server.html">
                     Configure a Production Server for Ruby Apps
                   </a>
              </li>
          <li class="menu-link">
                  <a href="/buildpacks/ruby/gsg-ruby.html">
                    Configure Rake Tasks for Deployed Apps
                  </a>
                </li>
					<li class="menu-link">
			             <a href="/buildpacks/ruby/ruby-tips.html">
			               Tips for Ruby Developers
			             </a>
			        </li>
					<li class="menu-link">
			             <a href="/buildpacks/ruby/ruby-environment.html">
			               Environment Variables Defined by the Ruby Buildpack
			             </a>
			        </li>
					<li class="menu-link">
				          <a href="/buildpacks/ruby/ruby-service-bindings.html">
				            Configure Service Connections for Ruby
				          </a>
				    </li>
          </ul>
        </div>
      </li>
	<li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Using the Apps Manager
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
			<li class="menu-link">
              <a href="/console/index.html">
                Using the Apps Manager
              </a>
            </li>
			<li class="menu-link">
              <a href="/console/dev-console-permissions.html">
                Understanding Apps Manager Permissions
              </a>
            </li>
            <li class="menu-link">
              <a href="/console/dev-console.html">
                Getting Started with the Apps Manager
              </a>
            </li>
            <li class="menu-link">
              <a href="/console/manage-spaces.html">
                Managing Spaces Using the Apps Manager
              </a>
            </li>
            <li class="menu-link">
              <a href="/console/manage-accounts.html">
                Managing User Accounts in Spaces Using the Apps Manager
              </a>
            </li>
			<li class="menu-link">
              <a href="/console/console-roles.html">
                Managing User Permissions Using the Apps Manager
              </a>
            </li>
          </ul>
        </div>
      </li>
	<li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Single Sign-on Integrations
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
			<li class="menu-link">
              <a href="/marketplace/integrations/cloudflare/index.html">
                Setting Up SSL-Enabled Custom Domains Using CloudFlare
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/integrations/cloudbees/index.html">
                CloudBees DEV@cloud
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/integrations/cloudbees/jenkins-cloudbees-getting-started.html">
                Getting Started with Jenkins on CloudBees DEV@cloud
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/integrations/cloudbees/jenkins-cloudbees-using.html">
                Using Jenkins to Deploy
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Services Marketplace for Users
        </div>
		<div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
			<li class="menu-link">
              <a href="/marketplace/use-console.html">
                Adding and Binding Services Using the PWS Apps Manager
              </a>
              <a href="/marketplace/contacting-service-providers-for-support.html">
                Contacting Service Providers for Support
              </a>
            </li>
       	<div class="menu-subtitle">
            Service Marketplace offerings:
          </div>
            <li class="menu-link">
              <a href="/marketplace/services/blazemeter.html">
                Blazemeter
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/services/cine-io.html">
                cine.io
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/services/cleardb.html">
                ClearDB
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/services/cloudamqp.html">
                CloudAMQP
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/services/cloudforge.html">
                CloudForge
              </a>
            </li>
            <li class="menu-link">
              <a href="/marketplace/services/elephantsql.html">
                ElephantSQL
              </a>
            </li>
			<li class="menu-link">
	           <a href="/marketplace/services/ironmq.html">
	             IronMQ
	           </a>
	        </li>
			<li class="menu-link">
		      <a href="/marketplace/services/ironworker.html">
		          IronWorker
		      </a>
		    </li>
			 <li class="menu-link">
	           <a href="/marketplace/services/loadimpact.html">
	             Load Impact
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/memcachedcloud.html">
	             Memcached Cloud
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/memcachier.html">
	             Memcachier
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/mongolab.html">
	             MongoLab
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/newrelic/">
	             New Relic
	           </a>
	         </li>
			 <li class="menu-link">
	           <a href="/marketplace/services/pubnub.html">
	             PubNub
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/rediscloud.html">
	             Redis Cloud
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/searchify.html">
	             Searchify
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/searchly.html">
	             Searchly
	           </a>
	         </li>
			<li class="menu-link">
	           <a href="/marketplace/services/sendgrid.html">
	             SendGrid
	           </a>
	         </li>
          </ul>
	<li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Cloud Foundry Concepts
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <!--
  <li class="menu-link">
  <a href="/concepts/index.html">
  Cloud Foundry Concepts (landing)
  </a>
  </li>
  -->
            <li class="menu-link">
              <a href="/concepts/overview.html">
               Cloud Foundry Overview
              </a>
            </li>
            <li class="menu-link">
              <a href="/concepts/architecture/">
                Cloud Foundry Components
              </a>
            </li>
            <li class="menu-link">
              <a href="/concepts/how-applications-are-staged.html">
                How Applications Are Staged
              </a>
            </li>
            <li class="menu-link">
              <a href="/concepts/high-availability.html">
                Scaling Cloud Foundry
              </a>
            </li>
            <li class="menu-link">
              <a href="/concepts/roles.html">
                Orgs, Spaces, Roles, and Permissions
              </a>
            </li>
            <li class="menu-link">
              <a href="/concepts/security.html">
                Cloud Foundry Security
              </a>
            </li>
            <li class="menu-link">
              <a href="/concepts/stacks.html">
                Stacks
              </a>
            </li>
            <li class="menu-link">
              <a href="/concepts/glossary.html">
                Cloud Foundry Glossary
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Pivotal Web Services Release Notes and Known Issues
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/release-notes/index.html">
                Release Notes and Known Issues
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
