<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">Doc Index</a>
  <div class="nav-content">
    <ul>

      <li>
        <a href="/getting-started/index.html">Getting Started Tutorials</a>
      </li>

      <li class="has_submenu">
        <a href="/console/">Web Console</a>
        <ul>
          <li>
            <a href="/console/apps.html">Apps</a>
          </li>
          <li>
            <a href="/console/services.html">Services</a>
          </li>
          <li>
            <a href="/console/users.html">Users and Roles</a>
          </li>
          <li>
            <a href="/console/spaces.html">Spaces</a>
          </li>
          <li>
            <a href="/console/orgs.html">Orgs</a>
          </li>
          <li>
            <a href="/console/billing.html">Billing</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span>Cloud Foundry Command Line Interface (cf CLI)</span>
        <ul>
          <li>
            <a href="/cf-cli/install-go-cli.html">Installing the cf CLI</a>
          </li>
          <li>
            <a href="/cf-cli/getting-started.html">Getting Started with the cf CLI</a>
          </li>
          <li>
            <a href="/cf-cli/http-proxy.html">Using the cf CLI with a Proxy Server</a>
          </li>
          <!--<li>
            <a href="/cf-cli/self-signed.html">Using the cf CLI with a Self-Signed Certificate</a>
          </li>-->
          <li>
            <a href="/devguide-sc/cf-cli/two-factor.html">Using cf CLI with Two-Factor Auth</a>
          </li>
          <li>
            <a href="/cf-cli/use-cli-plugins.html">Using cf CLI Plugins</a>
          </li>
          <li>
            <a href="/cf-cli/develop-cli-plugins.html">Developing cf CLI Plugins</a>
          </li>
          <li>
            <a href="/cf-cli/cf-help.html">cf CLI Reference Guide</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span>Developing and Managing Applications</span>
        <ul>
          <li>
            <a href="/devguide/deploy-apps/prepare-to-deploy.html">Considerations for Designing and Running an Application in the Cloud</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/deploy-app.html">Deploy an Application</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/large-app-deploy.html">Deploy a Large Application</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/push-docker.html">Deploy an App with Docker</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/start-restart-restage.html">Starting, Restarting, and Restaging Applications</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/manifest.html">Deploying with Application Manifests</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/app-lifecycle.html">Application Container Lifecycle</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/healthchecks.html">Using Application Health Checks</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/cf-scale.html">Scaling an Application Using cf scale</a>
          </li>
          <li>
            <a href="/devguide/using-tasks.html">Running Tasks</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/routes-domains.html">Routes and Domains</a>
          </li>
          <li>
            <a href="/devguide-sc/deploy-apps/certificates.html">SSL Secure Routes</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/stacks.html">Changing Stacks</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/environment-variable.html">Cloud Foundry Environment Variables</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/blue-green.html">Using Blue-Green Deployment to Reduce Downtime and Risk</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/streaming-logs.html">Application Logging in Cloud Foundry</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/troubleshoot-app-health.html">Troubleshooting Application Deployment and Health</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/app-ssh-overview.html">Application SSH Overview</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/ssh-apps.html">Accessing Apps with Diego SSH</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/ssh-services.html">Accessing Services with Diego SSH</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/trusted-system-certificates.html">Trusted System Certificates</a>
          </li>
          <li>
            <a href="/running/cf-api-endpoint.html">Identifying your Cloud Foundry API Endpoint and Version</a>
          </li>
          <li>
            <a href="/devguide/v3-commands.html">Using Experimental cf CLI Commands</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/buildpacks/">Buildpacks</a>
        <ul>
          <li class="has_submenu">
            <a href="/buildpacks/using-buildpacks.html">About Buildpacks</a>
            <ul>
              <li>
                <a href="/buildpacks/understand-buildpacks.html">Understanding Buildpacks</a>
              </li>
              <li>
                <a href="/buildpacks/use-multiple-buildpacks.html">Pushing an Application with Multiple Buildpacks</a>
              </li>
              <li>
                <a href="/buildpacks/proxy-usage.html">Proxy Usage</a>
              </li>
              <li>
                <a href="/buildpacks/supported-binary-dependencies.html">Supported Binary Dependencies</a>
              </li>
              <li>
                <a href="/buildpacks/prod-server.html">Production Server Configuration</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/buildpacks/binary/index.html">Binary</a>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/go/index.html">Go</a>
            <ul>
              <li>
                <a href="/tutorial-go/" target="_blank">Getting Started Tutorial</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/java/index.html">Java</a>
            <ul>
              <li>
                <a href="/tutorial-java/" target="_blank">Getting Started Tutorial</a>
              </li>
              <li>
                <a href="/buildpacks/java/java-tips.html">Tips for Java Developers</a>
              </li>
              <li>
                <a href="/devguide-sc/buildpacks/java/caveats.html">Caveats</a>
              </li>
              <li class="has_submenu">
                <a href="/buildpacks/java/getting-started-deploying-apps/index.html">Getting Started Deploying Apps</a>
                <ul>
                  <li>
                    <a href="/buildpacks/java/getting-started-deploying-apps/gsg-grails.html">Grails</a>
                  </li>
                  <li>
                    <a href="/buildpacks/java/getting-started-deploying-apps/gsg-ratpack.html">Ratpack</a>
                  </li>
                  <li>
                    <a href="/buildpacks/java/getting-started-deploying-apps/gsg-spring.html">Spring</a>
                  </li>
                </ul>
              </li>
              <li class="has_submenu">
                <a href="/buildpacks/java/configuring-service-connections/index.html">Configuring Service Connections</a>
                <ul>
                  <li>
                    <a href="/buildpacks/java/configuring-service-connections/grails-service-bindings.html">Grails</a>
                  </li>
                  <li>
                    <a href="/buildpacks/java/configuring-service-connections/play-service-bindings.html">Play</a>
                  </li>
                  <li>
                    <a href="/buildpacks/java/configuring-service-connections/spring-service-bindings.html">Spring</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/buildpacks/java/sts.html">Cloud Foundry Eclipse Plugin</a>
              </li>
              <li>
                <a href="/buildpacks/java/java-client.html">Cloud Foundry Java Client Library</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/dotnet-core/index.html">.NET Core</a>
            <ul>
              <li>
                <a href="/tutorial-dotnetcore/" target="_blank">Getting Started Tutorial</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/node/index.html">Node.js</a>
            <ul>
              <li>
                <a href="/tutorial-nodejs/" target="_blank">Getting Started Tutorial</a>
              </li>
              <li>
                <a href="/buildpacks/node/node-tips.html">Tips for Node.js Applications</a>
              </li>
              <li>
                <a href="/buildpacks/node/node-environment.html">Environment Variables Defined by the Node Buildpack</a>
              </li>
              <li>
                <a href="/buildpacks/node/node-service-bindings.html">Configure Service Connections for Node.js</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/php/index.html">PHP</a>
            <ul>
              <li>
                <a href="/tutorial-php/" target="_blank">Getting Started Tutorial</a>
              </li>
              <li>
                <a href="/buildpacks/php/gsg-php-tips.html">Tips for PHP Developers</a>
              </li>
              <li>
                <a href="/buildpacks/php/gsg-php-usage.html">Getting Started Deploying PHP Apps</a>
              </li>
              <li>
                <a href="/buildpacks/php/gsg-php-config.html">PHP Buildpack Configuration</a>
              </li>
              <li>
                <a href="/buildpacks/php/gsg-php-composer.html">Composer</a>
              </li>
              <li>
                <a href="/buildpacks/php/gsg-php-sessions.html">Sessions</a>
              </li>
              <li>
                <a href="/buildpacks/php/gsg-php-newrelic.html">New Relic</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/python/index.html">Python</a>
            <ul>
              <li>
                <a href="/tutorial-python/" target="_blank">Getting Started Tutorial</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/ruby/index.html">Ruby</a>
            <ul>
              <li>
                <a href="/tutorial-ruby/" target="_blank">Getting Started Tutorial</a>
              </li>
              <li>
                <a href="/buildpacks/ruby/ruby-tips.html">Tips for Ruby Developers</a>
              </li>
              <li class="has_submenu">
                <a href="/buildpacks/ruby/deploying-apps-index.html">Getting Started Deploying Apps</a>
                <ul>
                  <li>
                    <a href="/buildpacks/ruby/gsg-ruby.html">Ruby</a>
                  </li>
                  <li>
                    <a href="/buildpacks/ruby/gsg-ror.html">Ruby on Rails</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/buildpacks/ruby/rake-config.html">Configure Rake Tasks for Deployed Apps</a>
              </li>
              <li>
                <a href="/buildpacks/ruby/ruby-environment.html">Environment Variables Defined by the Ruby Buildpack</a>
              </li>
              <li>
                <a href="/buildpacks/ruby/ruby-service-bindings.html">Configure Service Connections for Ruby</a>
              </li>
              <li>
                <a href="/buildpacks/ruby/windows.html">Support for Windows Gemfiles</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/buildpacks/staticfile/index.html">Staticfile</a>
          </li>
          <li class="has_submenu">
            <a href="/buildpacks/developing-buildpacks.html">Customizing and Developing Buildpacks</a>
            <ul>
              <li>
                <a href="/buildpacks/custom.html">Creating Custom Buildpacks</a>
              </li>
              <li>
                <a href="/buildpacks/depend-pkg-offline.html">Packaging Dependencies for Offline Buildpacks</a>
              </li>
              <li>
                <a href="/buildpacks/merging_upstream.html">Merging from Upstream Buildpacks</a>
              </li>
              <li>
                <a href="/buildpacks/upgrading_dependency_versions.html">Upgrading Dependency Versions</a>
              </li>
              <li class="has_submenu">
                <a href="/buildpacks/buildpack-ci-index.html">Using CI for Buildpacks</a>
                <ul>
                  <li>
                    <a href="/buildpacks/releasing_a_new_buildpack_version.html">Releasing a New Buildpack Version</a>
                  </li>
                  <li>
                    <a href="/buildpacks/updating-buildpack-related-gems.html">Updating Buildpack-Related Gems</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span>Integrating Service Instances with Applications</span>
        <ul>
          <li>
            <a href="/devguide/services/">Services Overview</a>
          </li>
          <li>
            <a href="/devguide/services/application-binding.html">Delivering Service Credentials to an Application</a>
          </li>
          <li>
            <a href="/devguide/services/managing-services.html">Managing Service Instances with the CLI</a>
          </li>
          <li>
            <a href="/devguide/services/service-keys.html">Managing Service Keys</a>
          </li>
          <li>
            <a href="/devguide/services/sharing-instances.html">Sharing Service Instances</a>
          </li>
          <li>
            <a href="/devguide/services/user-provided.html">User-Provided Service Instances</a>
          </li>
          <li>
            <a href="/devguide-sc/services/backups.html">Backup &amp; Restore of Services</a>
          </li>
          <li>
            <a href="/devguide/services/route-binding.html">Manage Application Requests with Route Services</a>
          </li>
          <!--<li>
            <a href="/devguide/services/using-vol-services.html">Using an External Filesystem (Volume Services)</a>
          </li>-->
          <li>
            <a href="/devguide/services/play-service-bindings.html">Configuring Play Framework Service Connections</a>
          </li>
          <li>
            <a href="/devguide/services/migrate-db.html">Migrating a Database in Cloud Foundry</a>
          </li>
          <li>
            <a href="/devguide/services/log-management.html">Streaming Application Logs to Log Management Services</a>
          </li>
          <li>
            <a href="/devguide/services/log-management-thirdparty-svc.html">Service-Specific Instructions for Streaming Application Logs</a>
          </li>
          <li>
            <a href="/devguide/services/integrate-splunk.html">Integrating Cloud Foundry with Splunk</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/service-offerings/">Service Marketplace</a>
        <ul>
          <li>
            <a href="/service-offerings/mongodb.html">MongoDB</a>
          </li>
          <li>
            <a href="/service-offerings/mongodbent.html">MongoDB Enterprise</a>
          </li>
          <li>
            <a href="/service-offerings/mariadb.html">MariaDB</a>
          </li>
          <li>
            <a href="/service-offerings/mysql.html">MySQL</a>
          </li>
          <li>
            <a href="/service-offerings/redis.html">Redis</a>
          </li>
          <li>
            <a href="/service-offerings/redisent.html">Redis Enterprise</a>
          </li>
          <li>
            <a href="/service-offerings/rabbitmqent.html">RabbitMQ</a>
          </li>
          <li>
            <a href="/service-offerings/secretsstore.html">Secrets Store</a>
          </li>
          <li>
            <a href="/api-service-offerings/smart-messaging.html">Smart Messaging</a>
          </li>
          <li>
            <a href="/service-offerings/elasticsearch.html">Elasticsearch</a>
          </li>
          <li>
            <a href="/service-offerings/dynamic-storage.html">S3 Dynamic Storage</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/billing/">Billing</a>
        <ul>
          <li>
            <a href="/billing/accounts.html">Billing Accounts</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span>Cloud Foundry Concepts</span>
        <ul>
          <!--
            <li>
            <a href="/concepts/index.html">Cloud Foundry Concepts (landing)</a>
            </li>
          -->
          <li>
            <a href="/concepts/overview.html">Cloud Foundry Overview</a>
          </li>
          <li>
            <a href="/concepts/architecture/">Cloud Foundry Components</a>
          </li>
          <li>
            <a href="/concepts/diego/diego-architecture.html">Diego Architecture</a>
          </li>
          <li>
            <a href="/concepts/diego/diego-auction.html">How the Diego Auction Allocates Jobs</a>
          </li>
          <li>
            <a href="/concepts/how-applications-are-staged.html">How Applications Are Staged</a>
          </li>
          <li>
            <a href="/concepts/diego/ssh-conceptual.html">Understanding Application SSH</a>
          </li>
          <li>
            <a href="/concepts/roles.html">Orgs, Spaces, Roles, and Permissions</a>
          </li>
          <li>
            <a href="/concepts/security.html">Cloud Foundry Security</a>
          </li>
          <li>
            <a href="/concepts/container-security.html">Understanding Container Security</a>
          </li>
          <li>
            <a href="/concepts/understand-cf-networking.html">Understanding Container-to-Container Networking</a>
          </li>
          <li>
            <a href="/concepts/architecture/uaa.html">User Account and Authentication (UAA) Server</a>
          </li>
          <li>
            <a href="/concepts/http-routing.html">HTTP Routing</a>
          </li>
          <li>
            <a href="/devguide/deploy-apps/stacks.html">Stacks</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/devguide-sc/api.html">API Reference</a>
      </li>

      <li>
        <a href="/devguide-sc/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/devguide-sc/support.html">Support</a>
      </li>

    </ul>
  </div>
</div>
