<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">PHP Tutorial</a>
  <div class="nav-content">
    <ul>

      <li>
        <span>PHP Tutorial</span>
        <ul>
          <li>
            <a href="/tutorial-php/index.html">1. Introduction</a>
          </li>
          <li>
            <a href="/tutorial-php/set-up.html">2. Set Up</a>
          </li>
          <li>
            <a href="/tutorial-php/prepare.html">3. Prepare the App</a>
          </li>
          <li>
            <a href="/tutorial-php/deploy.html">4. Deploy the App</a>
          </li>
          <li>
            <a href="/tutorial-php/logs.html">5. View Logs</a>
          </li>
          <li>
            <a href="/tutorial-php/scale.html">6. Scale the App</a>
          </li>
          <li>
            <a href="/tutorial-php/dependencies.html">7. Declare App Dependencies</a>
          </li>
          <li>
            <a href="/tutorial-php/run-locally.html">8. Run the App Locally</a>
          </li>
          <li>
            <a href="/tutorial-php/push-changes.html">9. Push Local Changes</a>
          </li>
          <li>
            <a href="/tutorial-php/environment.html">10. Define Environment Variables</a>
          </li>
          <li>
            <a href="/tutorial-php/bind-service.html">11. Bind a Service to Your App</a>
          </li>
          <li>
            <a href="/tutorial-php/manifest.html">12. Add a Manifest File</a>
          </li>
          <li>
            <a href="/tutorial-php/next-steps.html">13. Next Steps</a>
          </li>
        </ul>
      </li>

    </ul>

    <div style="width:100%;text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/php.svg" style="width:40px;margin-top:0.9em">
    </div>

  </div>
</div>
