<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">

  <a class="sidenav-title" data-behavior="SubMenuMobile">Python Tutorial</a>

  <div class="nav-content">

    <ul class="menu">

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">Python Tutorial</div>

        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/tutorial-python/index.html">
                1. Introduction
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/set-up.html">
                2. Set Up
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/prepare.html">
                3. Prepare the App
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/deploy.html">
                4. Deploy the App
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/logs.html">
                5. View Logs
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/scale.html">
                6. Scale the App
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/dependencies.html">
                7. Declare App Dependencies
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/run-locally.html">
                8. Run the App Locally
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/push-changes.html">
                9. Push Local Changes
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/environment.html">
                10. Define Environment Variables
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/bind-service.html">
                11. Bind a Service to Your App
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/manifest.html">
                12. Add a Manifest File
              </a>
            </li>
            <li class="menu-link">
              <a href="/tutorial-python/next-steps.html">
                13. Next Steps
              </a>
            </li>
          </ul>
        </div>

      </li>

    </ul>

    <div style="width:100%;text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/python.svg" style="width:40px;margin-top:0.9em">
    </div>

  </div>
</div>
