/* Page */
body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td{border:0;outline:none;margin:0;padding:0;}
ul ul {
	list-style: none;
	/* Pivotal: Left-hand navigation */
	font-size: 16px;
	padding-left: 15px;
	}
ul.text {margin-bottom: 1em; line-height: 1.5em;}
.text-center {text-align: center;}
body {font: normal 13px 'freight-sans-pro', sans-serif;}
h2 {font: normal 26px 'freight-sans-pro', sans-serif; padding: 20px 0; margin: 0 0 30px 0;}
.wrap {margin: 0 auto;}
.demo-container {padding: 20px; float: left; width: 260px;}
.demo-container h4 {font-size: 14px; margin: 0 0 5px 0;}
.clear {clear: both;}

.dcjq-count {float: right;}