/*
 * FILE: print.scss
======================================================================== */
@import "bourbon/settings/px-to-em";
@import "partials/_vars.scss";

pre code, p code, .terminal {
  font-family: "DejaVu Sans Mono";
  page-break-inside: avoid;
}

ol li {
  margin-left: 15px;
}

.wrap {
  width: 2400px;

  .container {
    margin-left: 0;
  }
}

li p code {
  width: auto;
  display: inline;
}

pre, pre code {
  overflow: visible;
}

.pivotalcf .logo {
  background: none;
  padding-left: 0;
}

.quick-links,
.nav-container,
.header,
.site-footer-links {
  display: none;
}

h1 {
  margin-top: 0;
  font-size: $font-size-l;
}
