@import "compass";

// HELPERS
@import "bourbon/_bourbon.scss";
@import "neat/_neat.scss";

// CUSTOM HELPER PARTIALS
@import "partials/_vars.scss";
@import "partials/_mixins.scss";

.sg .content-layout > h1 {
  font-weight: 600;
  font-size: 1rem;
  font-family: Helvetica;
  text-transform: uppercase;
  padding-top: 2em;
  clear: both;
  &:first-child {
    padding-top: 0;
    border-top: none;
  }
}
.codeExample {
  padding-bottom: 4rem;
}
.codeBlock {
  clear: both;
}
.codeBlock {
  position: relative;
  border-left: 2em solid #f8f8f8;
}
.codeBlock .highlight:before {
  content: 'html';
  @include transform(rotate(-90deg));
  background: #f8f8f8;
  position: absolute;
  top: 0;
  line-height: 2;
  left: -3em;
  padding: 0 1em;
  margin-top: 1em;
}
.sg pre {
  margin: 0;
}
.highlight pre {
  min-height: 5em;
}
.exampleOutput {
  min-height: 5em;
  border: 2px solid #f0f0f0;
  padding: 1em;
  border-width: 3px 3px 0;
}

$colors: $navy $gray1 $gray2 $gray3 $gray4 $gray5 $gray6 $blue1 $blue2 $bluegray1 $teal1 $teal2;

div[class^="swatch-"] {
  float: left;
  padding: .5em;
  margin-bottom: 2em;
  margin-right: 2%;
  min-height: 4em;
  width: 22%;
}
@each $current-color in $colors {
  $i: index($colors, $current-color);
  .swatch-#{$i} {
    @include contrasted($current-color);
  }
}
.sg .nav-container li {
  display: block;
}

.sg .nav-container {
  display: none;

  @media (min-width: $bp-wide) {
    display: block;
  }
}
