<div class="copyright">
  <a href='/'>Application Cloud Documentation</a>
  &copy; <%= Time.now.year %> <a href='https://swisscom.com'>Swisscom</a>. All Rights Reserved.
</div>
<div class="support">
  <a href="<%=vars.support_url%>" target="_blank">Get In Touch</a>
</div>
