<div class="copyright">
  <a href='/'>Cloud Foundry Documentation</a>
  &copy; <%= Time.now.year %> <a href='http://cloudfoundry.org'>Cloud Foundry Foundation</a>. All Rights Reserved.
</div>
<div class="support">
  <a href="<%=vars.support_url%>" target="_blank">Get Involved</a>
</div>
