---
breadcrumb: Cloud Foundry Documentation
---
<div class="main-container">
  <div class="main">
    <h1 class="title-top" style="margin-left: 2em; margin-bottom: 0.25em;">Getting Started with</h1>
    <img style="display: block; text-align: center; margin: 0 auto; width: 50%; position: relative; margin-top: 1em; margin-bottom: 1em;" src="images/new_logo_org.png" alt="Cloud Foundry Logo">
    <h2 class="title-details">Cloud Foundry is an open-source platform as a service (PaaS) that provides you with a choice of clouds, developer frameworks, and application services.
    </h2>
  </div>
</div>

<div>
  <ul class="panels">
    <li class="panel span3">
      <a class="button" href="#read-the-docs">
        <h2 class="title-flashy">
          <span class="title-deemph">Read the Docs</span>
        </h2>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://www.cloudfoundry.org/category/case-studies/">
        <h3 class="title-flashy">
          <span class="title-deemph">Explore Case Studies</span>
        </h3>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://www.cloudfoundry.org/community/">
        <h3 class="title-flashy">
          <span class="title-deemph">Join the Community</span>
        </h3>
      </a>
    </li>
  </ul>

  <div id="read-the-docs" class="main docs-column-main">
    <div class="docs-subsection">
      <h3><a class="title" href="/deploying/index.html">Deploy Cloud Foundry</a>
      </h3>
      <div class="docs-module-description">Deploy Cloud Foundry on different infrastructures.
      </div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/deploying/index.html">Overview of Deploying Cloud Foundry</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/deploying/common/dns_prereqs.html">Setting Up DNS for Your Environment</a>
        </div>
        <div class="docs-link">
          <a href="/deploying/aws/index.html">Preparing to Deploy on Amazon Web Services</a>
        </div>
        <div class="docs-link">
          <a href="/deploying/azure/index.html">Preparing to Deploy on Azure</a>
        </div>
        <div class="docs-link">
          <a href="/deploying/openstack/index.html">Preparing to Deploy on OpenStack</a>
        </div>
        <div class="docs-link">
          <a href="/deploying/vsphere/index.html">Preparing to Deploy on vSphere</a>
        </div>
        <div class="docs-link">
          <a href="/deploying/vcloud/index.html">Preparing to Deploy on vCloud Air or vCloud Director</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/bbr/index.html">Using BOSH Backup and Restore</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/deploying/boshlite/index.html">Preparing to Deploy on BOSH-Lite</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/cf-cli/index.html">Cloud Foundry CLI</a></h3>
      <div class="docs-module-description">Direct a CF deployment from your local command line.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/cf-cli/install-go-cli.html">Installing the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/getting-started.html">Getting Started with the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/http-proxy.html">Using the cf CLI with an HTTP Proxy Server</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/self-signed.html">Using the cf CLI with a Self-Signed Certificate</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/use-cli-plugins.html">Using cf CLI Plugins</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/develop-cli-plugins.html">Developing cf CLI Plugins</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/start-restart-restage.html">About Starting Applications</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/cf-help.html">cf CLI Reference Guide</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/devguide/index.html">Develop and Manage Applications</a></h3>
      <div class="docs-module-description">Develop, run, and track applications in the cloud.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/devguide/deploy-apps/prepare-to-deploy.html">Considerations for Designing and Running Apps in the Cloud</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/deploy-app.html">Deploy an Application</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/large-app-deploy.html">Deploying a Large Application</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/push-docker.html">Deploy an App with Docker</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/app-lifecycle.html">Application Container Lifecycle</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/healthchecks.html">Using Application Health Checks</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/manifest.html">Deploying with Application Manifests</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/cf-scale.html">Scaling an Application Using cf scale</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/using-tasks.html">Running Tasks</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/routes-domains.html">Routes and Domains</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/stacks.html">Stacks</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/environment-variable.html">Cloud Foundry Environment Variables</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/blue-green.html">Using Blue-Green Deployment to Reduce Downtime and Risk</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/streaming-logs.html">Application Logging in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/troubleshoot-app-health.html">Troubleshooting Application Deployment and Health</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/app-ssh-overview.html">Application SSH Overview</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/ssh-apps.html">Accessing Apps with SSH</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/ssh-services.html">Accessing Services with SSH</a>
        </div>
        <div class="docs-link">
          <a href="/running/cf-api-endpoint.html">Identifying your Cloud Foundry API Endpoint and Version</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Integrating Service Instances with Applications</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/devguide/services/index.html">Services Overview</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/application-binding.html">Delivering Service Credentials to an Application</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/managing-services.html">Managing Service Instances with the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/service-keys.html">Managing Service Keys</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/user-provided.html">User-Provided Service Instances</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/route-binding.html">Manage Application Requests with Route Services</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/services/play-service-bindings.html">Configuring Play Framework Service Connections</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/migrate-db.html">Migrating a Database in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/log-management.html">Streaming Application Logs to Log Management Services</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/log-management-thirdparty-svc.html">Service-Specific Instructions for Streaming Application Logs</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/integrate-splunk.html">Integrating Cloud Foundry with Splunk</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/using-vol-services.html">Using an External Filesystem (Volume Services)</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/services/index.html">Custom Services</a></h3>
      <div class="docs-module-description">Create and publish free or metered services for Cloud Foundry apps.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/services/overview.html">Custom Services Overview</a>
        </div>
        <div class="docs-link">
           <a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.12/spec.md">Open Service Broker API</a>
        </div>
        <div class="docs-link">
          <a href="/services/managing-service-brokers.html">Managing Service Brokers</a>
        </div>
        <div class="docs-link">
          <a href="/services/access-control.html">Access Control</a>
        </div>
        <div class="docs-link">
          <a href="/services/dashboard-sso.html">Dashboard Single Sign-On</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/services/examples.html">Example Service Brokers</a>
        </div>
        <div class="docs-link">
          <a href="/services/app-log-streaming.html">Application Log Streaming</a>
        </div>
        <div class="docs-link">
          <a href="/services/route-services.html">Route Services</a>
        </div>
        <div class="docs-link">
          <a href="/services/supporting-multiple-cf-instances.html">Supporting Multiple Cloud Foundry Instances</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/services/binding-credentials.html">Binding Credentials</a>
        </div>
        <div class="docs-link">
          <a href="/credhub/index.html">CredHub</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/adminguide/index.html">Administer Cloud Foundry and Users</a></h3>
      <div class="docs-module-description">A guide for administrators.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/adminguide/cli-user-management.html">cf CLI User Management</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/quota-plans.html">Creating and Modifying Quota Plans</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/buildpacks.html">Managing Custom Buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/custom-stack.html">Adding a Custom Stack</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/docker.html">Using Docker in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/asg.html">Application Security Groups</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/cf-networking.html">Administering Container-to-Container Networking</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/isolation-segments.html">Managing Isolation Segments</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/routing-is.html">Routing Isolation Segments</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/listing-feature-flags.html">Feature Flags</a>
        </div>
        <div class="docs-link">
          <a href="/running/config-ssh.html">Configuring SSH Access for Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/trusted-system-certificates.html">Configuring Trusted System Certificates for Applications</a>
        </div>
        <div class="docs-link">
          <a href="/running/apps-enable-diego.html">Migrating Apps to Diego</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/adminguide/enabling-tcp-routing.html">Enabling TCP Routing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/zipkin_tracing.html">Enabling Zipkin Tracing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/supporting-websockets.html">Supporting WebSockets</a>
        </div>
        <div>
          <a href="/adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Healthchecks for Cloud Foundry Routers</a>
        </div>
        <div>
          <a href="/adminguide/troubleshooting_slow_requests.html">Troubleshooting Slow Requests in Cloud Foundry</a>
        </div>
        <div>
          <a href="/running/setting-rate-limit-cloud-api.html">Setting the Rate Limit for the Cloud Controller API</a>
        </div>
        <div class="docs-link">
          <a href="/running/deploy-vol-services.html">Adding Volume Services to your Deployment</a>
        </div>
        <div>
          <a href="/adminguide/routing-keepalive.html">Router Idle Keepalive Connections</a>
        </div>
        <br>
        <div>
          <a href="/uaa/index.html">User Account and Authentication (UAA)</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/buildpacks/index.html">Buildpacks</a></h3>
      <div class="docs-module-description">Package the languages and libraries that support your apps.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/index.html">Buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/understand-buildpacks.html">Understanding Buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/custom.html">Custom Buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/depend-pkg-offline.html">Packaging Dependencies for Offline Buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/prod-server.html">Configuring a Production Server</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/merging_upstream.html">Merging from Upstream Buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/upgrading_dependency_versions.html">Upgrading Dependency Versions</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/releasing_a_new_buildpack_version.html">Releasing a New Buildpack Version</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Java</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/java/index.html">Java Buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/java-tips.html">Tips for Java Developers</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/getting-started-deploying-apps/gsg-grails.html">Grails</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/getting-started-deploying-apps/gsg-ratpack.html">Ratpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/getting-started-deploying-apps/gsg-spring.html">Spring</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/configuring-service-connections/grails-service-bindings.html">Configure Service Connections for Grails</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/configuring-service-connections/play-service-bindings.html">Configure Service Connections for Play</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/configuring-service-connections/spring-service-bindings.html">Configure Service Connections for Spring</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/sts.html">Cloud Foundry Eclipse Plugin</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/java-client.html">Cloud Foundry Java Client Library</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Node.js</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/node/index.html">Node.js Buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/node/node-tips.html">Tips for Node.js Applications</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/node/node-environment.html">Environment Variables Defined by the Node Buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/node/node-service-bindings.html">Configure Service Connections for Node.js</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Ruby</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/ruby/index.html">Ruby Buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/gsg-ruby.html">Getting Started Deploying Ruby Apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/gsg-ror.html">Getting Started Deploying Ruby on Rails Apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/sample-ror.html">Deploy a Sample Ruby on Rails App</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/rake-config.html">Configure Rake Tasks for Deployed Apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/ruby-tips.html">Tips for Ruby Developers</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/ruby-environment.html">Environment Variables Defined by the Ruby Buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/ruby-service-bindings.html">Configure Service Connections for Ruby</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/windows.html">Support for Windows Gemfiles</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/running/index.html">Run and Troubleshoot Cloud Foundry</a></h3>
      <div class="docs-module-description">A guide for operators.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/running/index.html">Overview</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/logging.html">Cloud Foundry Logging</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/logging-config.html">Configuring System Logging</a>
        </div>
        <div class="docs-link">
          <a href="/running/config-cell-cleanup.html">Configuring Cell Disk Cleanup Scheduling</a>
        </div>
        <div class="docs-link">
          <a href="/running/hm-notifications.html">Configuring Health Monitor Notifications</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/usage-events.html">Usage Events and Billing</a>
        </div>
        <div class="docs-link">
          <a href="/running/monitoring-test.html">Monitoring and Testing Diego Components</a>
        </div>
        <div class="docs-link">
          <a href="/running/troubleshooting.html">Troubleshooting Cloud Foundry</a>
        </div>
       <div class="docs-link">
          <a href="/running/troubleshooting/troubleshooting-diego-windows.html">Troubleshooting Diego for Windows</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/concepts/index.html">Cloud Foundry Concepts</a></h3>
      <div class="docs-module-description">Understand how Cloud Foundry works.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/concepts/overview.html">Cloud Foundry Overview</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/architecture/index.html">Cloud Foundry Components</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/diego-architecture.html">Diego Architecture</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/diego-auction.html">How Diego Allocates Work</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/how-applications-are-staged.html">How Applications are Staged</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/ssh-conceptual.html">Understanding Diego SSH</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/concepts/asg.html">Understanding Application Security Groups</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/high-availability.html">High Availability in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/roles.html">Orgs, Spaces, Roles, and Permissions</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/security.html">Cloud Foundry Security</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/container-security.html">Understanding Container Security</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/understand-cf-networking.html">Understanding Container-to-Container Networking</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/http-routing.html">HTTP Routing</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/loggregator/index.html">Logging and Metrics in Cloud Foundry</a></h3>
      <div class="docs-module-description">Aggregate and stream logs and metrics from Cloud Foundry.
      </div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/loggregator/architecture.html">Overview of the Loggregator System</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/log-ops-guide.html">Loggregator Guide for Cloud Foundry Operators</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/streaming-logs.html">Application Logging in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/cc-uaa-logging.html">Security Event Logging for Cloud Controller and UAA</a>
        </div>
        <div class="docs-link">
          <a href="/running/all_metrics.html">Cloud Foundry Component Metrics</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/data-sources.html">Cloud Foundry Data Sources</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3>API Reference</h3>
      <div class="docs-module-description"></div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="https://docs.cloudfoundry.org/api/uaa/index.html">User Account and Authentication (UAA) Server API</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/capi/client-libraries.html">Cloud Controller API Client Libraries</a>
        </div>
        <div class="docs-link">
          <a href="/running/rate-limit-cloud-controller-api.html">Rate Limit Information Returned by the Cloud Controller API</a>
        </div>
        <div class="docs-link">
          <a href="http://apidocs.cloudfoundry.org">CAPI V2 documentation</a>
        </div>
        <div class="docs-link">
          <a href="http://v3-apidocs.cloudfoundry.org/index.html">CAPI V3 documentation</a>
        </div>
      </div>
    </div>
 
  </div>
</div>
