---
breadcrumb: Cloud Foundry Documentation
---
<div class="main-container">
  <div class="main">
    <h1 class="title-top" style="margin-left: 2em; margin-bottom: 0.25em;">Getting Started with</h1>
    <img style="display: block; text-align: center; margin: 0 auto; width: 50%; position: relative; margin-top: 1em; margin-bottom: 1em;" src="images/new_logo_org.png" alt="Cloud Foundry Logo">
    <h2 class="title-details">Cloud Foundry is an open-source platform as a service (PaaS) that provides you with a choice of clouds, developer frameworks, and application services.
    </h2>
  </div>
</div>

<div>
  <ul class="panels">
    <li class="panel span3">
      <a class="button" href="#read-the-docs">
        <h2 class="title-flashy">
          <span class="title-deemph">Read the Docs</span>
        </h2>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://www.cloudfoundry.org/foundryblog/case-studies/">
        <h3 class="title-flashy">
          <span class="title-deemph">Explore Case Studies</span>
        </h3>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://www.cloudfoundry.org/community/">
        <h3 class="title-flashy">
          <span class="title-deemph">Join the Community</span>
        </h3>
      </a>
    </li>
  </ul>