---
breadcrumb: Cloud Foundry Documentation
---
<div class="main-container">

  <div class="ftux">
    <p class="tip">
      Welcome to the Cloud Foundry documentation! If you are new to Cloud Foundry, use this guide for help getting started.
    </p>
  </div>
  <div class="main">
    <p>
      <h4><a class="title" href="/devguide/installcf/">cf Command Line Interface</a></h4>
      <div class="docs-module-description">A guide to using the cf CLI tool.</div>
    </p>
    <p>
      <h4><a class="title" href="/devguide/">Develop and Manage Applications</a></h4>
      <div class="docs-module-description">A guide for developers on developing and managing applications.</div>
    </p>
    <p>
      <h4><a class="title" href="/services/">Custom Services</a></h4>
      <div class="docs-module-description">Something here about custom services.</div>
    </p>
    <p>
      <h4><a class="title" href="/buildpacks/">Buildpacks</a></h4>
      <div class="docs-module-description">A guide to using system buildpacks.</div>
    </p>
    <p>
      <h4><a class="title" href="/bosh/">BOSH</a></h4>
      <div class="docs-module-description">All of the BOSH documentation.</div>
    </p>
    <p>
      <h4><a class="title" href="/deploying/">Deploy Cloud Foundry</a></h4>
      <div class="docs-module-description">How to deploy Cloud Foundry.</div>
    </p>
    <p>
      <h4><a class="title" href="/running/">Run and Troubleshoot Cloud Foundry</a></h4>
      <div class="docs-module-description">A guide for operators on running and troubleshooting a Cloud Foundry instance.</div>
    </p>
    <p>
      <h4><a class="title" href="/adminguide/">Administer Cloud Foundry</a></h4>
      <div class="docs-module-description">Something here about administering Cloud Foundry.</div>
    </p>
    <p>
      <h4><a class="title" href="/concepts/">Cloud Foundry Concepts</a></h4>
      <div class="docs-module-description">An explanation of the components in Cloud Foundry and how they work.</div>
    </p>
    <p>
      <h4><a class="title" href="/concepts/glossary.html">Cloud Foundry Glossary</a></h4>
    </p>
  </div>
</div>

