---
breadcrumb: Cloud Foundry Documentation
---
<div class="main-container">
  <div class="main">
    <h1 class="title-top" style="margin-left: 2em; margin-bottom: 0.25em;">Getting Started with</h1>
    <img
      style="display: block; text-align: center; margin: 0 auto; width: 50%; position: relative; margin-top: 1em; margin-bottom: 1em;"
      src="images/new_logo_org.png" alt="Cloud Foundry Logo">
    <h2 class="title-details">Cloud Foundry is an open-source platform as a service (PaaS) that provides you with a
      choice of clouds, developer frameworks, and application services.
    </h2>
  </div>
</div>

<div>
  <ul class="panels">
    <li class="panel span3">
      <a class="button" href="#read-the-docs">
        <h2 class="title-flashy">
          <span class="title-deemph">Read the Docs</span>
        </h2>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://www.cloudfoundry.org/foundryblog/case-studies/">
        <h3 class="title-flashy">
          <span class="title-deemph">Explore Case Studies</span>
        </h3>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://www.cloudfoundry.org/community/">
        <h3 class="title-flashy">
          <span class="title-deemph">Join the Community</span>
        </h3>
      </a>
    </li>
  </ul>

  <div id="read-the-docs" class="main docs-column-main">
    <div class="docs-subsection">
      <h3><a class="title" href="/concepts/contribute.html">Contributing Documentation</a>
      </h3>
      <div class="docs-module-description">Contribute to the Cloud Foundry documentation.</div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/deploying/index.html">Deploy Cloud Foundry</a>
      </h3>
      <div class="docs-module-description">Deploy Cloud Foundry on different infrastructures.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/deploying/index.html">Overview of deploying Cloud Foundry</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/deploying/cf-deployment/index.html">Deploying Cloud Foundry with cf-deployment</a>
        </div>
        <div class="docs-link">
          <a href="/deploying/migrating.html">Migrating from cf-release to cf-deployment</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/bbr/index.html">BOSH Backup and Restore (BBR)</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/cf-cli/index.html">Cloud Foundry CLI</a></h3>
      <div class="docs-module-description">Direct a CF deployment from your local command line.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/cf-cli/install-go-cli.html">Installing the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/getting-started.html">Getting started with the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/http-proxy.html">Using the cf CLI with a proxy server</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/self-signed.html">Using the cf CLI with a self-signed certificate</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/use-cli-plugins.html">Using cf CLI plug-ins</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/develop-cli-plugins.html">Developing cf CLI plug-ins</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/start-restart-restage.html">About starting apps</a>
        </div>
        <div class="docs-link">
          <a href="https://cli.cloudfoundry.org/en-US/v6/">cf CLI v6 Reference Guide</a>
        </div>
        <div class="docs-link">
          <a href="https://cli.cloudfoundry.org/en-US/v7/">cf CLI v7 Reference Guide</a>
        </div>
        <div class="docs-link">
          <a href="https://cli.cloudfoundry.org/en-US/v8/">cf CLI v8 Reference Guide</a>
        </div>

      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/devguide/index.html">Develop and manage apps</a></h3>
      <div class="docs-module-description">Develop, run, and track apps in the cloud.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/devguide/deploy-apps/prepare-to-deploy.html">Designing and running your app in the cloud</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/deploy-app.html">Pushing your app using Cloud Foundry CLI (cf push)</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/large-app-deploy.html">Deploying your large apps</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/canary-deploy.html">Configuring canary app deployments</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/rolling-deploy.html">Configuring rolling app deployments</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/push-docker.html">Deploying an app with Docker</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/app-lifecycle.html">The app container lifecycle on Diego architecture</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/healthchecks.html">Using Cloud Foundry health checks</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/manifest.html">Deploying with app manifests</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/cf-scale.html">Scaling your app using Cloud Foundry CLI (cf scale)</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/using-tasks.html">Running tasks in your apps</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/routes-domains.html">Routes and domains</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/environment-variable.html">Cloud Foundry environment variables</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/blue-green.html">Using blue-green deployment to reduce downtime</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/streaming-logs.html">App logging in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/troubleshoot-app-health.html">Troubleshooting app deployment and health</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/app-ssh-overview.html">Configuring SSH access for your deployment</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/ssh-apps.html">Accessing your apps with SSH</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/ssh-services.html">Accessing services with SSH</a>
        </div>
        <div class="docs-link">
          <a href="/running/cf-api-endpoint.html">Identifying your Cloud Foundry API endpoint and version</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/custom-ports.html" class="subnav">Configuring apps to listen on custom ports</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Integrating service instances with apps</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/devguide/services/index.html">Services</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/application-binding.html">Delivering service credentials to an app</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/managing-services.html">Managing service instances with the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/service-keys.html">Managing service keys</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/user-provided.html">User-provided service instances</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/route-binding.html">Manage app requests with route services</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/services/play-service-bindings.html">Configuring Play Framework service connections</a>
        </div>

        <div class="docs-link">
          <a href="/devguide/services/log-management.html">Streaming app logs to log management services</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/log-management-thirdparty-svc.html">Streaming app logs to third-party services</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/integrate-splunk.html">Integrating Cloud Foundry with Splunk</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/using-vol-services.html">Using an external filesystem (volume services)</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/metrics.html">Using metrics with drain logs</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/services/index.html">
          Creating Managed Services in Cloud Foundry</a></h3>
      <div class="docs-module-description">Create and publish free or metered services for Cloud Foundry apps.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/services/overview.html">Services in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/spec.md">Open Service Broker API</a>
        </div>
        <div class="docs-link">
          <a href="/services/managing-service-brokers.html">Managing Service Brokers in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/services/access-control.html">Managing access to Service Plans </a>
        </div>
        <div class="docs-link">
          <a href="/services/dashboard-sso.html">Dashboard Single Sign-on</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/services/examples.html">Service Broker examples</a>
        </div>
        <div class="docs-link">
          <a href="/services/app-log-streaming.html">App log streaming in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/services/route-services.html">Offering Route Services in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/services/supporting-multiple-cf-instances.html">Supporting multiple CFAR instances</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/services/binding-credentials.html">Binding credentials in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/credhub/index.html">CredHub</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/adminguide/index.html">Administrating Cloud Foundry application runtime</a></h3>
      <div class="docs-module-description">A guide for admins.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/adminguide/cli-user-management.html">cf CLI user management</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/quota-plans.html">Creating and modifying Quota Plans</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/buildpacks.html">Managing custom buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/running/custom-stack.html">Adding a custom stack</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/docker.html">Using Docker in CFAR</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/asg.html">App security groups in Cloud Foundry</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/cf-networking.html">Administering container-to-container networking</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/isolation-segments.html">Managing isolation segments</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/routing-is.html">Routing isolation segments</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/listing-feature-flags.html">Feature flags</a>
        </div>
        <div class="docs-link">
          <a href="/running/config-ssh.html">Configuring SSH access for Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/enabling_ipv6.html">Enabling IPv6 for hosted apps</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/securing-traffic.html">Securing traffic into CFAR</a>
        </div>
        <div class="docs-link">
          <a href="/running/trusted-system-certificates.html">Configuring trusted system certificates for apps</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/adminguide/enabling-tcp-routing.html">Enabling TCP routing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/distributed-tracing.html">Distributed tracing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/zipkin_tracing.html">Enabling Zipkin tracing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/w3c_tracing.html">Enabling W3C tracing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/supporting-websockets.html">Supporting WebSockets</a>
        </div>
        <div>
          <a href="/adminguide/configure-lb-healthcheck.html">Configuring load balancer health checks for CFAR
            routers</a>
        </div>
        <div>
          <a href="/adminguide/troubleshooting_slow_requests.html">Troubleshooting slow requests in CFAR</a>
        </div>
        <div>
          <a href="/adminguide/troubleshooting-router-error-responses.html">Troubleshooting router error responses</a>
        </div>
        <div>
          <a href="/running/setting-rate-limit-cloud-api.html">Setting the rate limit for the Cloud Controller API</a>
        </div>
        <div class="docs-link">
          <a href="/running/deploy-vol-services.html">Adding volume services to your deployment</a>
        </div>
        <div>
          <a href="/adminguide/routing-keepalive.html">Gorouter back end keep-alive connections</a>
        </div>
        <br>
        <div>
          <a href="/uaa/index.html">User Account and Authentication (UAA) server</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">

      <h3><a class="title" href="/buildpacks/index.html">Cloud Foundry Buildpacks</a></h3>
      <div class="docs-module-description">Package the languages and libraries that support your apps.</div>
      <h4>Cloud Native Buildpacks</h4>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/cnb/index.html">What are Cloud Native Buildpacks?</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/cnb/using.html">Using buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/cnb/paketo.html">Paketo buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/cnb/own.html">Developing your own buildpacks</a>
        </div>
      </div>

      <h4>Classical Buildpacks</h4>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/classical/index.html">What are Classical Buildpacks?</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/understand-buildpacks.html">How buildpacks work</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/custom.html">Custom buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/depend-pkg-offline.html">Packaging dependencies for offline buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/prod-server.html">Configuring a production server</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/merging_upstream.html">Merging from upstream buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/upgrading_dependency_versions.html">Upgrading dependency versions</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/releasing_a_new_buildpack_version.html">Releasing a new buildpack
            version</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Java</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/classical/java/index.html">Java buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/java/java-tips.html">Tips for Java developers</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/java/getting-started-deploying-apps/gsg-grails.html">Grails</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/java/getting-started-deploying-apps/gsg-ratpack.html">Ratpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/java/getting-started-deploying-apps/gsg-spring.html">Spring</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/java/configuring-service-connections.html">Configure service
            connections</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/java/java-native-image.html">Using Java Native Image buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/java/java-client.html">Cloud Foundry Java Client Library</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Node.js</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/classical/node/index.html">Node.js Buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/node/node-tips.html">Tips for Node.js apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/node/node-environment.html">Environment variables defined by the Node
            buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/node/node-service-bindings.html">Configure service connections for
            Node.js</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Ruby</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/index.html">Ruby buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/gsg-ruby.html">Getting started deploying Ruby apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/gsg-ror.html">Getting started deploying Ruby on Rails apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/sample-ror.html">Deploy a sample Ruby on Rails app</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/rake-config.html">Configure Rake tasks for deployed apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/ruby-tips.html">Tips for Ruby developers</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/ruby-environment.html">Environment variables defined by the Ruby
            buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/ruby-service-bindings.html">Configure service connections for Ruby</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/ruby/windows.html">Support for Windows Gemfiles</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Other buildpacks</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/classical/go/index.html">Go</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/nginx/index.html">NGINX</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/dotnet-core/index.html">.NET</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/php/index.html">PHP</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/python/index.html">Python</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/staticfile/index.html">Staticfile (for HTML, CSS, JavaScript)</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/classical/binary/index.html">Binary (for binary web servers)</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/running/index.html">Running Cloud Foundry</a></h3>
      <div class="docs-module-description">A guide for operators.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/running/index.html">Overview</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/logging.html">Cloud Foundry logging</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/logging-config.html">Configuring system logging</a>
        </div>
        <div class="docs-link">
          <a href="/running/diego-upgrades.html">Configuring Diego for upgrades</a>
        </div>
        <div class="docs-link">
          <a href="/running/config-cell-cleanup.html">Configuring Diego Cell disk cleanup scheduling</a>
        </div>
        <div class="docs-link">
          <a href="/running/hm-notifications.html">Configuring Health Monitor notifications</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/audit-events.html">Audit events</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/uaa-audit-requirements.html">UAA audit requirements</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/usage-events.html">Usage events and billing</a>
        </div>
        <div class="docs-link">
          <a href="/running/monitoring-test.html">Monitoring and testing Diego components</a>
        </div>
        <div class="docs-link">
          <a href="/running/troubleshooting.html">Troubleshooting Cloud Foundry</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/concepts/index.html">Cloud Foundry concepts</a></h3>
      <div class="docs-module-description">Understand how Cloud Foundry works.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/concepts/overview.html">Cloud Foundry overview</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/architecture/index.html">Runtime components</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/diego-architecture.html">Diego components and architecture</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/diego-auction.html">How Diego balances app processes in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/how-applications-are-staged.html">Staging your apps in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/ssh-conceptual.html">Cloud Foundry app SSH components and processes</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/concepts/asg.html">App Security Groups in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/high-availability.html">High availability in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/roles.html">Orgs, spaces, roles, and permissions in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/orgs-and-spaces.html">Planning orgs and spaces in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/security.html">Cloud Foundry security</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/container-security.html">Container security in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/understand-cf-networking.html">Container-to-container networking</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/http-routing.html">HTTP routing</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3><a class="title" href="/loggregator/data-sources.html">Logging and metrics in Cloud Foundry</a></h3>
      <div class="docs-module-description">Aggregate and stream logs and metrics from Cloud Foundry.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/loggregator/architecture.html">Logging and metrics architecture</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/log-ops-guide.html">Loggregator guide for Cloud Foundry operators</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/streaming-logs.html">App logging in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/cc-uaa-logging.html">Security event logging</a>
        </div>
        <div class="docs-link">
          <a href="/running/all_metrics.html">CFAR component metrics</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/opentelemetry.html">Configuring the OpenTelemetry Collector</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/nozzle-tutorial.html">Deploying a nozzle to the Loggregator Firehose</a>
        </div>
        <div class="docs-link">
          <a href="/loggregator/cli-plugin.html">Installing the Loggregator plug-in for cf CLI</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="docs-subsection">
      <h3>API Reference</h3>
      <div class="docs-module-description"></div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="https://docs.cloudfoundry.org/api/uaa/index.html">User Account and Authentication (UAA) server
            API</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/capi/client-libraries.html">Available Cloud Controller API client libraries</a>
        </div>
        <div class="docs-link">
          <a href="/running/rate-limit-cloud-controller-api.html">Rate limit information returned by the Cloud
            Controller API</a>
        </div>
        <div class="docs-link">
          <a href="http://v2-apidocs.cloudfoundry.org">CAPI V2 documentation</a>
        </div>
        <div class="docs-link">
          <a href="http://v3-apidocs.cloudfoundry.org/index.html">CAPI V3 documentation</a>
        </div>
        <div class="docs-link">
          <a href="https://docs.cloudfoundry.org/api/credhub/">CredHub API documentation</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    <a id='repo-link'
      href='https://github.com/cloudfoundry/docs-book-cloudfoundry/blob/master/master_middleman/source/index.html.md.erb'>Create
      a pull request or raise an issue on the source for this page in GitHub</a>
  </div>
</div>