// Variables that use the values defined in partials/_book-base-values.scss
// and/or partials/_vars.scss

$navy: #243640;
$blue1: #2185c5;
$blue2: #a7cae1;
$bluegray1: #4b6475;

$color-accent-bright: $blue1;

$color-bg-header: $blue2;
$color-link: $blue1;
$color-link-border: #cddce5;
