// Variables that use the values defined in partials/_book-base-values.scss
// and/or partials/_vars.scss

$navy: #06c;
$blue1: #06c;
$blue2: #06c;
$bluegray1: #4b6475;

$color-accent-bright: $blue1;

$color-bg-header: $blue2;
$color-link: $blue1;
$color-link-border: #cddce5;
